@import url('https://fonts.googleapis.com/css?family=Roboto');

/*@font-face {
    font-family: Karla;
    src: url('../fonts/Karla.woff2') format('woff2'),
         url('../fonts/Karla.woff') format('woff');
}*/

@font-face {
  font-family: 'Roboto', sans-serif;
  src : url('https://fonts.googleapis.com/css?family=Roboto')
}


@media (max-width:991px){
  body {
    font-family: "Roboto", "sans-serif";
    font-size: 40px;
  }

  label.btn span {
    font-size: 2.3em;
  }
  a.btn, input.btn {
    font-size:1em;
  }

  h1 { font-size: 1.5em; }
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.15em; }
  h4 { font-size: 1.1em; }
  h5 { font-size: .83em; }
  h6 { font-size: .75em; }

  legend { font-size: 1.1em; }

}

@media (min-width:992px) and (max-width:1199px) {
  body {
    font-family: "Roboto", "sans-serif";
    font-size: 24px;
  }
  label.btn span {
    font-size: 1.9em;
  }
  a.btn, input.btn {
    font-size:1em;
  }

  h1 { font-size: 2em; }
  h2 { font-size: 1.2em; }
  h3 { font-size: 1.15em; }
  h4 { font-size: 1.1em; }
  h5 { font-size: .83em; }
  h6 { font-size: .75em; }
}

@media (min-width:1200px){
    body {
      font-family: "Roboto", "sans-serif";
      font-size: 18px;
    }
  label.btn span {
    font-size: 1.1em;
  }
  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.17em; }
  h4 { font-size: 1.12em; }
  h5 { font-size: .83em; }
  h6 { font-size: .75em; }
}



.lead { font-size: 1.2em; }

.form-inline .form-control {
    width:auto;
}
.form-inline .form-group {
    display: inline-block;
}

@media(max-width:1199px){.form-control { 
    height: 1.9em;
    font-size: 0.8em; 
  }
}

.alco-child {
    margin: 10px;
    background-color: #eee;
}

.alco-child1 {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;
}

.button-wrapper .btn {
    margin-bottom:5px;
    margin-right:5px;
}

input[type=textbox] {
    width: 80%;
    margin-bottom: 10px;
}


label input ~ i.material-icons.radio_button_unchecked ,label input ~ i.material-icons.check_box_outline_blank {
color: #222;
display: inline;
}
label input ~ i.material-icons.radio_button_checked ,label input ~ i.material-icons.check_box {
display: none;
}
label input:checked ~ i.material-icons.radio_button_unchecked ,label input:checked ~ i.material-icons.check_box_outline_blank {
display: none;
}
label input:checked ~ i.material-icons.radio_button_checked ,label input:checked ~ i.material-icons.check_box {
color: #3C763D;
display: inline;
}

input:checked ~ span { 
  color: #3C763D; 
}

i.material-icons{
  margin-right: 0.5%;
}

div[data-toggle="buttons"] label {
display: inline-block;
cursor: pointer;
color: #222;
user-select: none;
}


div[data-toggle="buttons"] label:has( input:not(:checked) ) {
color: #222;
}

div[data-toggle="buttons"] label:has( input:checked ) {
color: #3C763D;
}
div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
box-shadow: none;
}


.dependent {
    display: none;
}

.asteriskField{
  color: #aa0000;
  font-size: 1.2em;
}

ul {
  padding-left: 15px;
}
.h_iframe iframe {
    width:100%;
}

.btn.justify-content-start{
    white-space:normal !important;
    word-wrap: break-word; 
}

strong { text-decoration: underline; }

label.btn{
    white-space:normal !important;
    word-wrap: break-word; 
}

.choice { 
  text-align: left
}

/* make textarea 100% width available */
.boxsizingBorder {
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
          box-sizing: border-box;
  }