@font-face {
    font-family: Karla;
    src: url('../fonts/Karla.woff2');
}


@media(max-width:767px){
  body {
    font-family: "Karla", "sans-serif";
    font-size: 32px;
  }

  label.btn span {
    font-size: 1.9em;
  }
}

@media(min-width:768px){
  body {
    font-family: "Karla", "sans-serif";
    font-size: 30px;
  }

  label.btn span {
    font-size: 1.9em;
  }
}

@media(min-width:992px){
  body {
    font-family: "Karla", "sans-serif";
    font-size: 26px;
  }
  label.btn span {
    font-size: 1.9em;
  }
}

@media(min-width:1200px){
    body {
      font-family: "Karla", "sans-serif";
      font-size: 14px;
    }
  label.btn span {
    font-size: 1em;
  }
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.lead { font-size: 1.2em; }
@media(max-width:1199px){.form-control { font-size: 0.65em; }}

.alco-child {
    margin: 10px;
    background-color: #eee;
}

.alco-child1 {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;
}

.button-wrapper .btn {
    margin-bottom:5px;
    margin-right:5px;
}

/*input[type=checkbox] + label {
      color: #222;
}

input[type=checkbox]:checked + label {
      color: #3C763D;
}

input[type=radio] + label {
      color: #222;
}

input[type=radio]:checked + label {
      color: #3C763D;
}*/

input[type=textbox] {
    width: 80%;
    margin-bottom: 10px;
}


span.glyphicon:after {
  font-family: "Glyphicons Halflings";
  src: url('../fonts/glyphicons-halflings-regular.woff2');
}

label input[type="radio"] ~ span.glyphicon.glyphicon-unchecked ,label input[type="checkbox"] ~ span.glyphicon.glyphicon-unchecked {
color: #222;
display: inline;
}
label input[type="radio"] ~ span.glyphicon.glyphicon-check ,label input[type="checkbox"] ~ span.glyphicon.glyphicon-check {
display: none;
}
label input[type="radio"]:checked ~ span.glyphicon.glyphicon-unchecked ,label input[type="checkbox"]:checked ~ span.glyphicon.glyphicon-unchecked {
display: none;
}
label input[type="radio"]:checked ~ span.glyphicon.glyphicon-check ,label input[type="checkbox"]:checked ~ span.glyphicon.glyphicon-check {
color: #3C763D;
display: inline;
}

input:checked ~ span { 
  color: #3C763D; 
}

div[data-toggle="buttons"] label {
display: inline-block;
cursor: pointer;
color: #222;
user-select: none;
}


div[data-toggle="buttons"] label:has( input:not(:checked) ) {
color: #222;
}

div[data-toggle="buttons"] label:has( input:checked ) {
color: #3C763D;
}
div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
box-shadow: none;
}


.dependent {
    display: none;
}

.asteriskField{
  color: #aa0000;
  font-size: 1.9em;
}

ul {
  padding-left: 15px;
}
.h_iframe iframe {
    width:100%;
}
