@font-face {
    font-family: Karla;
    src: url(http://fonts.gstatic.com/s/karla/v5/3nZS3BKzlvhkwl4yjCQcjHYhjbSpvc47ee6xR_80Hnw.woff);
}


@media(max-width:767px){
    body {
      font-family: "Karla", "sans-serif";
      font-size: 28px;
    }
}

@media(min-width:768px){
    body {
      font-family: "Karla", "sans-serif";
      font-size: 28px;
    }
}

@media(min-width:992px){
    body {
      font-family: "Karla", "sans-serif";
      font-size: 24px;
    }
}

@media(min-width:1200px){
    body {
      font-family: "Karla", "sans-serif";
      font-size: 14px;
    }
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
.lead { font-size: 1.2em; }
@media(max-width:1199px){.form-control { font-size: 0.65em; }}

.alco-child {
    margin: 10px;
    background-color: #eee;
}

.alco-child1 {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;
}

input[type=checkbox] + label {
      color: #222;
}

input[type=checkbox]:checked + label {
      color: #3C763D;
}

input[type=radio] + label {
      color: #222;
}

input[type=radio]:checked + label {
      color: #3C763D;
}

input[type=textbox] {
    width: 80%;
    margin-bottom: 10px;
}

.dependent {
    display: none;
}

.asteriskField{
  color: #aa0000;
  font-size: 1.8em;
}

ul {
  padding-left: 15px;
}
.h_iframe iframe {
    width:100%;
}
