@media only screen and (max-width: 980px) {
   
    .material-icons {
        font-size: 46px
    }
    
    .datepicker table tr td, .datepicker table tr th {
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 4px;
        border: none;
        font-size: 40px;
    } 

    select.form-control:not([size]):not([multiple]) {
        height: calc(5.25rem + 2px);
    }

    .modal-dialog {
        max-width: 100%
    }

    .modal-footer > .btn {
        padding: 2.5rem 2.75rem;
        font-size: 2rem;
    }
}
