{% extends 'registration/base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Registration' %}{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'console' %}">{{ site_header|default:_('WebCDI Registration') }}</a></h1>
{% endblock %}

{% block contents %}
{{ block.super }}
<div style="background: #29A9E6; height:100%; margin-bottom:10rem;">


<div style="background: #29A9E6; height:100%;">
  <div class="container" style="padding-bottom:2rem;">
      <!--Start Logo-->
      <a class="row" align="center" href="/" style="height: 69px; width: 149px;">
        <img width="100%" src="{% static 'researcher_UI/images/logo.png' %}">
      </a>
      <!--End Logo-->
      <!--Start login card-->
      <div class="login-card col-md-6 col-sm-12">
          <h1 style="color:#4d90fe;">Registration</h1><br>

          <!--End login card-->
          <form action="{{ app_path }}" method="post" id="login-form">
            {% csrf_token %}
            {% include 'registration/alert_none_fields.html' %}
            
            {% for field in form %}
              <div class="row">
                  <label class="col-12" for="{{ field.label }}" style="font-family:Arial, Helvetica, sans-serif;">{{ field.label }} <span style="color: red;font-family:none"> * </span></label>
                  <div class="col-12">
                    {{ field }}
                  </div>
                  
                    {% with errors=field.errors %}
                      {% include 'registration/alert.html' %}
                    {% endwith%}
              </div>
            {%  endfor  %}

              <div  class="input-row">
                <input type="submit" name="login" style="font-size: 16px;" class="login login-submit" value="{% trans "Register" %}">
              </div>
          </form>
          
          <div class="login-help input-row">
              <a href="{% url 'login' %}" style="color:#4d90fe; font-size:16px;font-family:none">Do you already have an account?  Login.</a> <br>
          </div>
    </div>

  </div>
</div>
</div>
{% endblock %}
