{% extends "researcher_UI/base.html" %}
{% load i18n %}
{% load crispy_forms_tags static %}

{% block title %}WebCDI Registration{% endblock %}
{% block content_title %}<div class="container bs-docs-container"><h1>{{ "" }}</h1></div>{% endblock %}
{% block main %}
<div id="content-main" class="container bs-docs-container">

    <form method="post" action="" class="form-reset-pass col-md-6 col-sm-12">
        
        {% csrf_token %}
        <p style="font-size:12px; font-family:Arial, Helvetica, sans-serif;">{% trans "Forgotten your password? Enter your email address below and we will email instructions for setting a new one." %}</p>

        <!-- {{ form|crispy }} -->
		<div class="form-group">
			{{ form.email.errors }}
			<label class="col-form-label" for="{{ form.email.id_for_label }}">Email</label>
			<div class="">
			  	{{ form.email }}
			</div>
		</div>
        <div>
        <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
        </div>
    </form>
</div>

{% endblock %}
