asgiref==3.7.2
backports.zoneinfo;python_version<"3.9"
beautifulsoup4==4.12.2
boto3==1.33.12
botocore==1.33.12
Django==4.2.8
django-bootstrap4==23.2
django-crispy-forms==2.1
django-modeltranslation==0.18.11
django-tables2==2.7.0
jmespath==1.0.1
python-dateutil==2.8.2
s3transfer==0.8.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.0.7
django-bootstrap3
django-health-check
django-localflavor
django-countries
django-ckeditor
django-admin-rangefilter
psycopg2-binary
pandas
numpy
django-ipware
requests
django-weasyprint
bleach
Markdown
django-registration
app-version
django-bootstrap3-datetimepicker
django-ses
django-storages