{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
	{% block title %}{% trans 'Login' %}{% endblock %}


{% load crispy_forms_tags %}

{% block contents %}
{{ block.super }}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
</style>
<div style="background: #29A9E6; height:100%; margin-bottom:10rem;">
  <div class="container">
      <!--Start Logo-->
      <a class="row" align="center" href="/" style="height: 69px; width: 149px;" >
        <img style="width:100%;"  src="{% static 'researcher_UI/images/logo.png' %}">
      </a>
      <!--End Logo-->

      <!--Start login card-->
      <div class="login-card  col-md-6 col-sm-12 center" >
        <button type="button" class="btn-primary" data-dismiss="modal" aria-label="Close" style="border-radius:50%;" onclick="history.back()"><span aria-hidden="true">&larr;</span></button>

        <div class="modal-header">
            <h4 style="color:red; font-family: 'Times New Roman'" class="center">{{error}}</h4><br>  
        </div>        
    </div>

  </div>
  <script type="text/javascript">
    document.getElementById('id_username').focus()
    </script>
</div>

{% endblock %}
