

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >
        {% if form_name %}
          {{ form_name }}
        {% else %}
          Add new study
        {% endif %}
        </h4>
      </div>
      <div class="modal-body">
        {% load crispy_forms_tags %}
        {% crispy form %}

        <script>

        $('#div_id_subject_cap').addClass( "anon-collection collapse" );
        $('#div_id_confirm_completion').addClass( "anon-collection collapse" ); 

        if ("{{ allow_payment }}" == "True"){
          $('#div_id_gift_codes').parent().css('display', 'block')
        }
        $('#id_anon_collection').on('change', function () {
          if ($(this).prop('checked')) {
            $('.anon-collection').collapse('show');
          } else {
            $('.anon-collection').collapse('hide');
          }        

        });

        $('#id_gift_codes').keyup(function() { 
             $('#div_id_gift_amount').parent().collapse('show');
          })          

        </script>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
      <div class="alert alert-danger error-message" role="alert" style="display:none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <div style='display:inline' id='error-message-text'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input name="submit" value="Submit" class="btn btn-primary" type="button">
      </div>
  </div>
