<!-- Modal form for adding a new study -->

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modal-title" class="modal-title" >
        {% if form_name %}
          {{ form_name }}
        {% else %}
          Add new study
        {% endif %}
        </h4>
      </div>
      <div class="modal-body">
        {% load crispy_forms_tags %}
        {% crispy form %}

        <script>

        $( function() {
          $( "#div_id_age_range div" ).prepend( "<div id='slider_div' style='margin: 5%;' ></div><span id='min'></span><span id='max'></span>" );
          $( "#id_age_range_0" ).hide();
          $( "#id_age_range_1" ).hide();

          $( "#slider_div" ).slider({
            range: true,
            min: 0,
            max: 50,
            values: [ {{ min_age }} , {{ max_age }} ],
            create: function() {
              $('#min').css('font-family', $('div.modal-body').css('font-family') ).css('font-size', $('div.modal-body').css('font-size') ).appendTo($('#slider_div span.ui-slider-handle').get(0));
              $('#max').css('font-family', $('div.modal-body').css('font-family') ).css('font-size', $('div.modal-body').css('font-size') ).appendTo($('#slider_div span.ui-slider-handle').get(1));
            },
            slide: function( event, ui ) {
              $( "#id_age_range_0" ).val( ui.values[ 0 ] );
              $( "#id_age_range_1" ).val( ui.values[ 1 ] );
              $(ui.handle).find('span').html(ui.value);
            }
          });

          $( "#id_age_range_0" ).val( $( "#slider_div" ).slider( "values", 0 ) );
          $( "#id_age_range_1" ).val( $( "#slider_div" ).slider( "values", 1 ) );


          $('#min').html( $('#slider_div').slider('values', 0)).position({
            my: 'center top',
            at: 'center bottom',
            of: $('#slider_div span.ui-slider-handle:eq(0)'),
            offset: "0, 10"
          });

          $('#max').html( $('#slider_div').slider('values', 1)).position({
            my: 'center top',
            at: 'center bottom',
            of: $('#slider_div span.ui-slider-handle:eq(1)'),
            offset: "0, 10"
          });
        } );

        $('#id_instrument').on('change', function () {
            var current_instrument = $(this).val();   

            if ( current_instrument.indexOf('WS') > -1) {
              $('#slider_div').slider('values', 0, 16);
              $('#slider_div').slider('values', 1, 30);

              $('#min').html( 16 );
              $('#max').html( 30 );

              $( "#id_age_range_0" ).val( '16' );
              $( "#id_age_range_1" ).val( '30' );

            } else if ( current_instrument.indexOf('WG') > -1) {
              $('#slider_div').slider('values', 0, 8);
              $('#slider_div').slider('values', 1, 18);     

              $('#min').html( 8 );
              $('#max').html( 18 ); 

              $( "#id_age_range_0" ).val( '8' );
              $( "#id_age_range_1" ).val( '18' );                      
            }
        });

        // Automatically collapses fields dependent on whether the study involves anonymous participants and/or financial compensation. Upon checking/unchecking inputs for those 2 settings, other dependent fields appear.
        $('#div_id_subject_cap').addClass( "anon-collection" );
        $('#div_id_confirm_completion').addClass( "anon-collection" ); 

        function check_for_payment() {
            if($('#id_allow_payment').prop('checked')) {
                $('.gift_cards').removeClass('collapse')
            } else {
                $('.gift_cards').addClass('collapse');
            }
        }

        function check_for_anon() {

          if ($('#id_anon_collection').prop('checked')) {
            $('.anon-collection').removeClass('collapse')
          } else {
            $('.anon-collection').addClass('collapse');
          }  
        }        

        check_for_payment();
        check_for_anon();

        $('#id_anon_collection').on('change', function () {
            check_for_anon();      
        });

        $("#id_allow_payment").on('change', function () {
            check_for_payment();

        });
        

        </script>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
      <div class="alert alert-danger error-message" role="alert" style="display:none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <div style='display:inline' id='error-message-text'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input name="submit" value="Submit" class="btn btn-primary" type="button">
      </div>
  </div>
