<!DOCTYPE html>
<html style="background: #29A9E6;">
<head lang="en">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% load static %}
    <title>Web CDI</title>

<!--     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>

<!--     <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
 -->    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
<!--     <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-theme.min.css' %}">
 -->    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <style>
    @font-face {
        font-family: Karla;
        src: url("{% static 'fonts/Karla.woff2' %}");
    }
    body {
        font-family: "Karla", "sans-serif";
    }
    .btn { margin: 0.5%; }

    </style>
</head>
<body>

<div style="background: #29A9E6;">
    <div class="container" style="margin-top: 50px;">
        <div class="flex-row">
            <img width="400px" class="rounded mx-auto d-block" src="{% static 'researcher_UI/images/logo_black.png' %}">
        </div>
        <div class="flex-row text-nowrap">
            <h1 class="text-center">MacArthur-Bates </h1>
            <h1 class="text-center">Communicative Development Inventory</h1>
            <h2 class="text-center">Online administration</h2>
        </div>
        <br>
        <div class="flex-row d-flex justify-content-center">
            <a class="btn btn-light" href="/interface" role="button">Researcher Login</a>
            <a class="btn btn-light" href="/wcadmin" role="button">Admin Login</a>
        </div>
        <br><br>
        <div class="flex-row">
            <p class="text-center">WebCDI is a pilot project of the MacArthur-Bates Communicative Development Inventory Advisory Board.</p>
            <p class="text-center">If you're a parent, please follow the link sent to you by a researcher to fill out an MB-CDI form. <wbr>If you lost your link, please contact your researcher or the <a href="mailto:{{ CONTACT_EMAIL }}">Web-CDI team</a>.</p>
            <p class="text-center">If you're a researcher interested in using WebCDI, please <a href="mailto:{{ CONTACT_EMAIL }}">contact us</a>.</p>
            <p class="text-center">For more information about the MB-CDI, <a href="{{ MORE_INFO_LINK }}" target="_blank">click here</a>.</p>
        </div>
    </div>
</div>

</body>
</html>