<!DOCTYPE html>
<html >
<head lang="en">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% load static %}
    <title>Web CDI</title>

<!--     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>

<!--     <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
 -->    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
<!--     <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-theme.min.css' %}">
 -->    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <style>
    @font-face {
        font-family: Karla;
        src: url("{% static 'fonts/Karla.woff2' %}");
    }
    body {
        font-family: "Karla", "sans-serif";
    }
    .btn { margin: 0.5%; }

    </style>
</head>
<body>

<div >
    <div class="container" style="margin-top: 50px;">
        <div class="flex-row">
            <img width="400px" class="rounded mx-auto d-block" src="{% static 'researcher_UI/images/logo_black.png' %}">
        </div>
        <div class="flex-row text-nowrap">
            <h1 class="text-center">MacArthur-Bates </h1>
            <h1 class="text-center">Communicative Development Inventory</h1>
            <h2 class="text-center">Online administration</h2>
        </div>
        <br>
        <div class="flex-row d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'researcher_ui:console' %}" role="button">User Login</a>
        </div>
        <br><br>
        
        <div class="flex-row" style="font-size: 18px;">
            <p class="text-center">
                Web-CDI is sponsored by the MacArthur-Bates Communicative Development Inventory (CDI) Advisory Board. 
                The English long forms (American/Canadian English WG and WS), Mexican Spanish long forms (WG and WS), English CDI III, 
                and English/Mexican Spanish CDI-CAT are distributed through Brookes Publishing Company and require an access code that can be purchased at 
                <a href="https://brookespublishing.com/webcdi/">https://brookespublishing.com/webcdi/</a>.
                
                <strong>If you are having any issues with your code, please contact the Brookes support team at: <a href="https://support.brookespublishing.com/">https://support.brookespublishing.com/</a>.</strong>
            </p>
            <p class="text-center"> 
                More information about the English CDI suite of instruments can be found in the MacArthur-Bates User's Guide and Technical Manual, 
                3rd Edition (Marchman, Dale, and Fenson, 2023), also available from Brookes Publishing Company. 
                See deMayo et al. (2021) <span style="font-style: italic">Language Development Research </span> for more information about Web-CDI; 
                See Kachergis et al. (2022) <span style="font-style: italic">Journal of Speech, Language & Hearing Research</span> for more information about CDI-CAT.
            </p>
            <p class="text-center">If you are having technical difficulties with the site, please contact the Web-CDI team as <a href="mailto:webcdi-contact@stanford.edu">webcdi-contact@stanford.edu</a>.</p>
            <p class="text-center">If you're a researcher or clinician interested in using WebCDI, please  <a class="btn btn-primary" href="{% url 'django_registration_register' %}">Register Here</a>.</p>
            <p class="text-center">For more information about the MB-CDI, <a href="{{ MORE_INFO_LINK }}" target="_blank">click here</a>.</p>
        </div>
    </div>
</div>

</body>
</html>