<!doctype html>
<html lang="en"> <head> <meta charset="utf-8">

    {% load staticfiles %}

    <title>WebCDI Interface</title>
    <meta name="description" content="English Words and Sentences CDI form">
    <meta name="author" content="Ashwin Paranjape">

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'researcher_UI/django_modal_forms.js' %}"></script>
    <script src="{% static 'researcher_UI/researcher_UI.js' %}"></script>
    <link rel="stylesheet" href="{% static 'researcher_UI/console.css' %}" />
    <link rel="stylesheet" href="{% static 'researcher_UI/table.css' %}" />
</head>
<body>
<div class='container'>
    <div class='row'>
	<form class="form-inline" action="/accounts/logout/">
            <fieldset>
                <legend>User:</legend>
		<div class='col-md-10'>
		    <big>{{ username }}</big>
		</div>
		<div class='col-md-2'>
		    <input type="submit" value="Logout" class='btn btn-primary' style="width:100%">
		</div>
            </fieldset>
	</form>
    </div>
    <div class='row'>
            <form method='post' action = '/interface/study/{{ current_study }}/' id='study-form' class="form-inline">
       		 {% csrf_token %}
                <fieldset>
                    <legend>Study:</legend>
                    <div class='col-md-12'>
			<div class="row">
			    <div class='col-md-10'>
				    <div style = 'width:100%' class="form-group">
					<select  style = 'width:100%;' id="study-selector" class="form-control" onchange="location = encodeURI(this.options[this.selectedIndex].value);">
					    <option value="/interface/" selected disabled>Please select study</option>
					    {% for study in studies %}
						<option value="/interface/study/{{ study }}/"{% if study.name == current_study %} selected="" {% endif %}>{{ study }}</option>
					    {% endfor %}
					</select> 
				    </div>
				<div>
				    {% if study_instrument %}
					<h4>Instrument: {{ study_instrument }}</h4>
				    {% endif %}
				</div>
			    </div>
			    <div class='col-md-2'>
				    <button type="button" style='width:100%;' class="btn btn-primary"   onclick = "modal_form('/interface/add_study/')" >New Study</button>
			    </div>
			</div>
			{% if current_study %}
			<div class="row">
			    <div class='col-md-3'>
				    <button type="button" style='width:100%;' class="btn btn-default"   onclick = "modal_form('/interface/study/{{ current_study|urlencode }}/administer_new/')" >Add Participants</button>
			    </div>
			    <div class='col-md-3'>
				    <button type="button" style='width:100%;' class="btn btn-default"   onclick = "modal_form('/interface/study/{{ current_study|urlencode }}/download/')" >Download Study Data</button>
			    </div>
			    <div class='col-md-3'>
				    <button type="button" style='width:100%;' class="btn btn-default"   onclick = "modal_form('/interface/study/{{ current_study|urlencode }}/rename_study/')" >Rename Study</button>
			    </div>
			    <div class='col-md-3'>
				    <button type="submit" style='width:100%;' class="btn btn-default"   onclick='return confirm("Are you sure you want to delete the entire study and all the data associated with it?");' >Delete Study</button>
			    </div>
			</div>
    			{% endif %}
		    </div>
                </fieldset>

            </form>

        </div>
    {% if current_study %}
    <div class='row'>
            <form method='post' action = '/interface/study/{{ current_study }}/' id='administration-form' class="form-inline">
        {% csrf_token %}

                <fieldset>
                    <legend> Data :</legend>
                    <div class='col-md-12'>
                        {% include "researcher_UI/table.html" with table=study_administrations %}
                    </div>
                    <div class='col-md-3'>
                            <button style='width:100%;' class="btn btn-default" id='add-selected' type='submit' name='administer-selected' value='administer-selected' disabled  >Re-administer Participants</button>
                    </div>
                    <div class='col-md-3'>
                            <button style='width:100%;' class="btn btn-default" id='delete-selected' type='submit' name='delete-selected' value='administer-selected' disabled onclick='return confirm("Are you sure you want to delete the selected administration record and all the data associated with it?");' >Delete Selected Data</button>

                    </div>
                    <div class='col-md-3'>
                            <button style='width:100%;' class="btn btn-default" id='download-selected' type='submit' name='download-selected' value='download-selected'  disabled >Download Selected Data</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    </div>
    {% endif %}
</div>
<!-- New Study Modal -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="new study">
</div>
<script>
checked_only()
$('form').each(function(){this.onkeypress = checkEnter;});
</script>
</body>
</html>
