{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
	{% block title %}{% trans 'Login' %}{% endblock %}


{% load crispy_forms_tags %}

{% block contents %}
{{ block.super }}

<div style="background: #29A9E6; height:100%; margin-bottom:10rem;">
  <div class="container">
      <!--Start Logo-->

      <!--End Logo-->
      <!--Start login card-->
      <div class="login-card  col-md-6 col-sm-12" >
          <h1 style="color:#4d90fe;">Login</h1><br>

          <!--End login card-->
          <form action="{{ app_path }}" method="post" id="login-form">
            {% csrf_token %}
            {% include 'registration/alert_none_fields.html' %}
            
            {% for field in form %}
              <div class="input-row">
                  <label for="{{ field.label }}" style="font-family:none">{{ field.label }}  <span style="color: red;font-family:none"> * </span></label>
                    {{ field }}
                    {% with errors=field.errors %}
                      {% include 'registration/alert.html' %}
                    {% endwith%}
              </div>
            {%  endfor  %}

              <div  class="input-row">
                <input type="submit" name="login" class="login login-submit" value="{% trans "Log in" %}">
              </div>
          </form>
          
          <div class="login-help input-row">
              <a  href="{% url 'password_reset' %}" style="color:#4d90fe; font-size:12px;font-family:none" >Forgot your password? Click here to reset.</a>
              <br>
                OR
              <br>
              <a href="{% url 'signup' %}" style="color:#4d90fe; font-size:12px;font-family:none">Don't have an account yet? Click here to register.</a> <br>
          </div>
    </div>

  </div>
</div>

{% endblock %}
