
{% extends 'researcher_UI/base.html' %}
{% load i18n static %}

{% block main %}
{{ block.super }}
<div style="margin-top:100px; margin-bottom:10rem;">
  <div>
    <div class="container" style="padding-bottom:2rem;">
          <div class="modal-header">
            <h4 id="modal-title" class="modal-title" >
              {% if form_name %}
                {{ form_name }} - {{ study_obj.instrument }}
              {% else %}
                Add new study
              {% endif %}
            </h4>
          </div>
          <div class="modal-body">
            {% load crispy_forms_tags %}
            {% crispy form %}

            <script>

            $( function() {
              $( "#div_id_age_range div" ).prepend( "<div id='slider_div' style='margin: 2%;' ></div><span id='min'></span><span id='max'></span>" );
              $( "#id_age_range_0" ).hide();
              $( "#id_age_range_1" ).hide();

              $( "#slider_div" ).slider({
                range: true,
                min: 0,
                max: 96,
                values: [ parseInt("{{ min_age }}") , parseInt("{{ max_age }}") ],
                create: function() {
                  $('#min').css('font-family', $('div.modal-body').css('font-family') ).css('font-size', $('div.modal-body').css('font-size') ).appendTo($('#slider_div span.ui-slider-handle').get(0));
                  $('#max').css('font-family', $('div.modal-body').css('font-family') ).css('font-size', $('div.modal-body').css('font-size') ).appendTo($('#slider_div span.ui-slider-handle').get(1));
                },
                slide: function( event, ui ) {
                  $( "#id_age_range_0" ).val( ui.values[ 0 ] );
                  $( "#id_age_range_1" ).val( ui.values[ 1 ] );
                  $(ui.handle).find('span').html(ui.value);
                }
              });

              $( "#id_age_range_0" ).val( $( "#slider_div" ).slider( "values", 0 ) );
              $( "#id_age_range_1" ).val( $( "#slider_div" ).slider( "values", 1 ) );


              $('#min').html( $('#slider_div').slider('values', 0)).position({
                my: 'center top',
                at: 'center bottom',
                of: $('#slider_div span.ui-slider-handle:eq(0)'),
                offset: "0, 10"
              });

              $('#max').html( $('#slider_div').slider('values', 1)).position({
                my: 'center top',
                at: 'center bottom',
                of: $('#slider_div span.ui-slider-handle:eq(1)'),
                offset: "0, 10"
              });
              document.getElementById("id_share_opt_out").disabled = true;
              document.getElementById("div_id_share_opt_out").style.color = 'lightgrey';
              document.getElementById("id_share_opt_out").checked = false;

              document.getElementById('id_demographic_opt_out').disabled = true;
              document.getElementById("id_demographic_opt_out").checked = false;
              document.getElementById("div_id_demographic_opt_out").style.color = 'lightgrey';
            } );

            $('#id_instrument').on('change', function () {
                var current_instrument = $(this).val();   

                if ( current_instrument.indexOf('WS') > -1 | current_instrument.indexOf('L2') > -1 ) {
                  $('#slider_div').slider('values', 0, 16);
                  $('#slider_div').slider('values', 1, 30);

                  $('#min').html( 16 );
                  $('#max').html( 30 );

                  $( "#id_age_range_0" ).val( '16' );
                  $( "#id_age_range_1" ).val( '30' );

                } else if ( current_instrument.indexOf('WG') > -1 | current_instrument.indexOf('L1') > -1) {
                  $('#slider_div').slider('values', 0, 8);
                  $('#slider_div').slider('values', 1, 18);     

                  $('#min').html( 8 );
                  $('#max').html( 18 ); 

                  $( "#id_age_range_0" ).val( '8' );
                  $( "#id_age_range_1" ).val( '18' );                      
                } else if ( current_instrument.indexOf('CDI3') > -1 ) {
                  $('#slider_div').slider('values', 0, 30);
                  $('#slider_div').slider('values', 1, 37);     

                  $('#min').html( 30 );
                  $('#max').html( 37 ); 

                  $( "#id_age_range_0" ).val( '30' );
                  $( "#id_age_range_1" ).val( '37' ); 
                } else if ( current_instrument.indexOf('CAT') > -1 ) {
                  $('#slider_div').slider('values', 0, 12);
                  $('#slider_div').slider('values', 1, 36);     

                  $('#min').html( 12 );
                  $('#max').html( 36 ); 

                  $( "#id_age_range_0" ).val( '12' );
                  $( "#id_age_range_1" ).val( '36' ); 
                }
            });

            // ajax to get available Demographics
            $('#id_instrument').on('change', function () {
              $.ajax({
                  url:'/interface/ajax/get_demographic_forms/',
                  type: 'GET',
                  data: {id : $(this).find('option:selected').val()},
                  cache: false,
                  success: function (data) {
                      $('#id_demographic').find('option').not(':first').remove();
                      for (item in data) {
                        $('#id_demographic').append(new Option(data[item]['fields']['name'], data[item]['pk'])) 
                      }

                  }
              });
            });

            // check if this instrument can opt out
            $('#id_instrument').on('change', function () {
              $.ajax({
                  url:'/interface/ajax/get_charge_status/',
                  type: 'GET',
                  data: {id : $(this).find('option:selected').val()},
                  cache: false,
                  success: function (data) {
                      if (data['chargeable']) {
                        document.getElementById("id_share_opt_out").disabled = false;
                        document.getElementById("div_id_share_opt_out").style.color = 'black';
                      } else {
                        document.getElementById("id_share_opt_out").disabled = true;
                        document.getElementById("div_id_share_opt_out").style.color = 'lightgrey';
                        document.getElementById("id_share_opt_out").checked = false;

                        document.getElementById('id_demographic_opt_out').disabled = true;
                        document.getElementById("id_demographic_opt_out").checked = false;
                        document.getElementById("div_id_demographic_opt_out").style.color = 'lightgrey';
                      }
                  }
              });
            });

            // offer opt out of demographics
            $('#id_share_opt_out').on('change', function () {
              if ($('#id_share_opt_out').is(':checked')) {
                document.getElementById('id_demographic_opt_out').disabled = false;
                document.getElementById("div_id_demographic_opt_out").style.color = 'black';
              } else {
                document.getElementById('id_demographic_opt_out').disabled = true;
                document.getElementById("id_demographic_opt_out").checked = false;
                document.getElementById("div_id_demographic_opt_out").style.color = 'lightgrey';

                document.getElementById('id_demographic').disabled = false;
                document.getElementById("div_id_demographic").style.color = 'black';
              }
            });

            $('#id_demographic_opt_out').on('change', function () {
              if ($('#id_demographic_opt_out').is(':checked')) {
                  document.getElementById('id_demographic').disabled = true;
                  document.getElementById("div_id_demographic").style.color = 'lightgrey';
                  $("#id_demographic").val('');
              } else {
                document.getElementById('id_demographic').disabled = false;
                document.getElementById("div_id_demographic").style.color = 'black';
              }
            })

            // Automatically collapses fields dependent on whether the study involves anonymous participants and/or financial compensation. Upon checking/unchecking inputs for those 2 settings, other dependent fields appear.
            $('#div_id_subject_cap').addClass( "anon-collection" );
            $('#div_id_confirm_completion').addClass( "anon-collection" ); 

            function check_for_payment() {
                if($('#id_allow_payment').prop('checked')) {
                    $('.gift_cards').removeClass('collapse')
                } else {
                    $('.gift_cards').addClass('collapse');
                }
            }

            function check_for_anon() {

              if ($('#id_anon_collection').prop('checked')) {
                $('.anon-collection').removeClass('collapse')
              } else {
                $('.anon-collection').addClass('collapse');
              }  
            }        

            check_for_payment();
            check_for_anon();

            $('#id_anon_collection').on('change', function () {
                check_for_anon();      
            });

            $("#id_allow_payment").on('change', function () {
                check_for_payment();

            });

            function check_for_no_demographic_boolean() {
              if ($('#id_no_demographic_boolean').prop('checked')) {
                $('.no_demographic_boolean').addClass('collapse')
              } else {
                $('.no_demographic_boolean').removeClass('collapse');
              }  
            }        

            check_for_no_demographic_boolean();
            $('#id_no_demographic_boolean').on('change', function () {
              check_for_no_demographic_boolean();      
            });

            function check_for_end_message() {
              if ($('#id_end_message').find(":selected").val() == 'standard') {
                $('.end_message').addClass('collapse')
              } else {
                $('.end_message').removeClass('collapse');
              }  
            }        

            check_for_end_message();
            $('#id_end_message').on('change', function () {
                check_for_end_message();      
            });
            
            function check_for_redirect() {
              if ($('#id_redirect_boolean').prop('checked')) {
                $('.redirect_boolean').removeClass('collapse')
              } else {
                $('.redirect_boolean').addClass('collapse');
              }  
            }        

            check_for_redirect();
            $('#id_redirect_boolean').on('change', function () {
                check_for_redirect();      
            });

            function check_for_participant_source() {
              if ($('#id_participant_source_boolean').val() > 0) {
                $('.participant_source_boolean').removeClass('collapse')
              } else {
                $('.participant_source_boolean').addClass('collapse');
              }  
            }        

            check_for_participant_source();
            $('#id_participant_source_boolean').on('change', function () {
              check_for_participant_source();      
            });

            function check_for_allow_payment() {
              if ($('#id_allow_payment').prop('checked')) {
                $('.allow_payment').removeClass('collapse')
              } else {
                $('.allow_payment').addClass('collapse');
              }  
            }        

            check_for_allow_payment();
            $('#id_allow_payment').on('change', function () {
              check_for_allow_payment();      
            });
            
            $(document).ready(function() {
              $(window).keydown(function(event){
                if(event.keyCode == 13) {
                  event.preventDefault();
                  return false;
                }
              });
            });
            </script>
          </div>
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-error">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-error">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
          <div class="alert alert-danger error-message" role="alert" style="display:none">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <div style='display:inline' id='error-message-text'></div>
          </div>
    </div>
  </div>
</div>
{% endblock %}