.idea
*.pyc
venv/
.idea/
.DS_Store
.env/
*django_logs/
*.swp
*.backup
.Rproj.user
.Rhistory
*/packrat/src/*
researcher_profiles.json
sync*.sh
webcdi/webcdi/secret_key*
webcdi/webcdi/secret_settings*
webcdi/webcdi/databases*
webcdi/webcdi/email*
webcdi/webcdi/captcha*
webcdi/media/*

env/
__pycache__/
*/.vscode/

crontab.txt