app-version
appdirs
backports.ssl-match-hostname
bcrypt
beautifulsoup4
bleach
blessed
boto3
botocore
cached-property
cairocffi
CairoSVG
catsim
cement
certifi
cffi
chardet
colorama
confusable-homoglyphs
cryptography
cssselect2
cycler
defusedxml
Django
django-adaptors
django-appconf
django-axes
django-bootstrap3
django-bootstrap3-datetimepicker
django-bootstrap4
django-ckeditor
django-countries
django-crispy-forms
django-csvimport
#django-form-utils
django-health-check
#django-inspectional-registration @ git+git://github.com/HenryMehta/django-inspectional-registration.git@52166a4985999cbc74bbb7a116e6ace55fe604e1
#git+git://github.com/HenryMehta/django-inspectional-registration.git@aws
django-ipware
django-js-asset
django-localflavor
django-modeltranslation
django-ses
django-storages
django-tables2
django-weasyprint
docopt
docutils
enum-compat
future
futures
html5lib
idna
ipaddress
jmespath
joblib
json-table-schema
json-tricks
jsonschema
kiwisolver
lxml
Markdown
matplotlib
messytables
numexpr
numpy
packaging
pandas
paramiko
pathspec
Pillow
psycopg2-binary
pycparser
PyNaCl
pyparsing
PyPDF2
Pyphen
python-dateutil
python-magic
python-stdnum
pytz
PyYAML
reportlab
requests
s3transfer
scikit-learn
scipy
selenium
semantic-version
six
soupsieve
sqlparse
tabulate
termcolor
texttable
tinycss2
tolerance
tqdm
urllib3
wcwidth
WeasyPrint
webencodings
websocket-client
xhtml2pdf
xlrd
