awsebcli==3.9.1
blessed==1.14.1
botocore==1.5.10
cement==2.8.2
chardet==2.3.0
colorama==0.3.7
Django==1.8.4
django-adaptors==0.2.5
django-bootstrap3==6.2.2
django-bootstrap3-datetimepicker==2.2.3
django-crispy-forms==1.5.1
django-csvimport==2.4
django-form-utils==1.0.3
django-inspectional-registration==0.6.2
django-ipware==1.1.6
django-tables2==1.0.4
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
html5lib==0.999999
jmespath==0.9.1
json-table-schema==0.2.1
lxml==3.4.4
messytables==0.15.0
numpy==1.12.1
pandas==0.19.2
pathspec==0.5.0
psycopg2==2.6.1
python-dateutil==2.4.2
python-magic==0.4.6
pytz==2016.7
PyYAML==3.12
requests==2.7.0
selenium==3.4.3
semantic-version==2.5.0
six==1.9.0
tabulate==0.7.5
wcwidth==0.1.7
websocket-client==0.40.0
xlrd==0.9.4
