app-version==1.0.1
appdirs==1.4.3
awsebcli==3.15.3
backports.ssl-match-hostname==3.7.0.1
beautifulsoup4==4.8.0
bleach==3.1.0
blessed==1.15.0
boto3==1.10.34
botocore==1.13.34
cached-property==1.5.1
cement==2.8.2
certifi==2019.9.11
chardet==3.0.4
colorama==0.3.9
confusable-homoglyphs==3.2.0
Django==2.2.6
django-adaptors==0.2.5
django-appconf==1.0.3
django-axes==5.0.14
django-bootstrap3==11.1.0
django-bootstrap3-datetimepicker==2.2.3
django-bootstrap4==1.0.1
django-ckeditor==5.7.1
django-countries==5.5
django-crispy-forms==1.7.2
django-csvimport==2.13
django-form-utils==1.0.3
django-health-check==3.11.0
#django-inspectional-registration==0.6.2
git+git://github.com/HenryMehta/django-inspectional-registration.git
django-ipware==2.1.0
django-js-asset==1.2.2
django-localflavor==2.2
django-modeltranslation==0.13.3
django-storages==1.8
django-tables2==2.1.1
docker==3.7.3
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
enum-compat==0.0.2
future==0.16.0
futures==3.1.1
html5lib==1.0.1
idna==2.7
ipaddress==1.0.22
jmespath==0.9.4
json-table-schema==0.2.1
jsonschema==2.6.0
lxml==4.4.1
Markdown==3.1.1
messytables==0.15.2
numpy==1.17.2
packaging==19.2
pandas==0.25.1
pathspec==0.5.9
Pillow==6.2.0
psycopg2==2.8.3
pyparsing==2.4.2
python-dateutil==2.8.0
python-magic==0.4.15
python-stdnum==1.11
pytz==2019.2
PyYAML==3.13
requests==2.20.1
s3transfer==0.2.1
selenium==3.141.0
semantic-version==2.5.0
six==1.11.0
soupsieve==1.9.4
sqlparse==0.3.0
tabulate==0.8.5
termcolor==1.1.0
texttable==0.9.1
tolerance==0.1.2
urllib3==1.24.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
xlrd==1.2.0
