{% extends 'researcher_UI/individual/base.html' %}
{% load static i18n bleach_markdown pdf_template_tags%}

{% block content %} 
    {% for administration in administrations %} 
    {% if administration.completed %}
    <div id="content" style="break-after: page;">
        <div class="main" style="border:2px solid black; text-align: center; margin-bottom: 20px">
            <h2>{% trans 'MacArthur-Bates Communicative Development Inventory' %} </h2>
            <h2>{% trans 'American English CDI III' %}</h2>
            <h2>{% trans 'Child Report Form' %}</h2>
        </div>

        <table >
            <tr >
                <td>{% trans 'Child ID:' %}</td>
                <td>{{ administration.subject_id }}</td>
                <td>{% trans 'Date of Report:' %}</td>
                <td>{% now "jS F Y H:i" %}</td>
            </tr>
            <tr>
                <td>{% trans 'Child Sex:' %}</td>
                <td>{{ administration.backgroundinfo.get_sex_display }}</td>
                <td>{% trans 'Date of CDI' %}</td>
                <td>{{ administration.last_modified|date:"M d, Y" }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>{% trans 'Age in months:' %}</td>
                <td>{{ administration.backgroundinfo.age }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>{% trans 'Age to compare:' %}</td>
                <td>{% if adjusted %}{{ administration.id|get_summary_data:"adjusted benchmark age" }}{% else %}{{ administration.backgroundinfo.age }}{% endif %}</td>
            </tr>
        </table>

        <table>
            <tr>
                <th colspan="6">{% trans 'Vocabulary Checklist' %}</th>
            </tr>
            <tr>
                <td>{% trans 'Words Produced:' %}</td>
                <td>{% trans 'Number:' %}</td>
                <td>{{ administration.id|get_summary_data:"Total Produced" }}</td>
                <td>(of 100)</td>
                <td>{% trans 'Percentile (by sex):' %}</td>
                <td>{% get_adjusted_summary_date administration.id "Total Produced Percentile-sex" %}%</td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td>{% trans 'Percentile (both sexes):' %}</td>
                <td>{% get_adjusted_summary_date administration.id "Total Produced Percentile-both" %}%</td>
            </tr>
        </table>
        <table>
            <tr>
                <th colspan="3">{% trans 'Is the child combining words?' %}</th>
                <td colspan="3">{% get_true_false administration.id "Combining" %}</td>
            </tr>
            <tr>
                <th colspan="6">{% trans 'Sentence complexity' %}</th>
            </tr>
            <tr>
                <td></td>
                <td>{% trans 'Number of times the more complex sentence is select:' %}</td>
                <td>{% get_adjusted_summary_date administration.id "Complexity" %}</td>
                <td>{% trans '(of 12)' %}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>{% trans 'Percentile (by sex):' %}</td>
                <td>{% get_adjusted_summary_date administration.id "Complexity Percentile-sex" %}%</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>{% trans 'Percentile (by both):' %}</td>
                <td>{% get_adjusted_summary_date administration.id "Complexity Percentile-both" %}%</td>
            </tr>
            <tr>
                <th colspan="6">{% trans 'User Language' %}</th>
            </tr>
            <tr>
                <td></td>
                <td>{% trans 'Number:' %}</td>
                <td>{% get_adjusted_summary_date administration.id "How to Use Words" %}</td>
                <td>{% trans '(of 12)' %}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>{% trans 'Percentile (by sex):' %}</td>
                <td>{% get_adjusted_summary_date administration.id "How to Use Words Percentile-sex" %}%</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>{% trans 'Percentile (by both):' %}</td>
                <td>{% get_adjusted_summary_date administration.id "How to Use Words Percentile-both" %}%</td>
            </tr>
        </table>
        <table>
            <tr>
                <th colspan="2">{% trans "Child's three longest sentences:" %}</th>
            </tr>
            <tr>
                <td>{% trans 'Example 1' %}</td>
                <td>{{ administration.id|get_form_data:"item_example1" }}</td>
            </tr>
            <tr>
                <td>{% trans 'Example 2' %}</td>
                <td>{{ administration.id|get_form_data:"item_example2" }}</td>
            </tr>
            <tr>
                <td>{% trans 'Example 3' %}</td>
                <td>{{ administration.id|get_form_data:"item_example3" }}</td>
            </tr>
        </table>
        <div>
            <p>3rd Edition (Marchman et al., 2023)</p>
        </div>
    </div>

    {% endif %}
    {% endfor %}

{% endblock %}
