{% extends 'researcher_UI/individual/base.html' %}
{% load static i18n bleach_markdown pdf_template_tags%}

{% block content %} 
    {% for administration in administrations %} 
    {% if administration.completed %}
    <div id="content" style="break-after: page;">
        <div class="main" style="border:2px solid black; text-align: center; margin-bottom: 20px">
            <h2>{% trans 'MacArthur-Bates Communicative Development Inventory' %} </h2>
            <h2>Computer Adaptive Test (CDI-CAT)</h2>
            <h2>{% trans 'Child Report Form' %}</h2>
        </div>

        <table >
            <tr >
                <td>{% trans 'Child ID:' %}</td>
                <td>{{ administration.subject_id }}</td>
                <td>{% trans 'Date of Report:' %}</td>
                <td>{% now "jS F Y H:i" %}</td>
            </tr>
            <tr>
                <td>{% trans 'Child Sex:' %}</td>
                <td>{{ administration.backgroundinfo.get_sex_display }}</td>
                <td>{% trans 'Date of CDI' %}</td>
                <td>{{ administration.last_modified|date:"M d, Y" }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>{% trans 'Age in months:' %}</td>
                <td>{{ administration.backgroundinfo.age }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>{% trans 'Age to compare:' %}</td>
                <td>{% if adjusted %}{{ administration.id|get_summary_data:"adjusted benchmark age" }}{% else %}{{ administration.backgroundinfo.age }}{% endif %}</td>
            </tr>
        </table>

        <table>
            <tr>
                <th>{% trans 'Vocabulary Size' %}</th>
                <td>{% trans 'Estimated Theta:' %}</td>
                <td>{{ administration.catresponse.est_theta }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{% trans 'Percentile (by sex):' %}</td>
                <td>{% get_cat_benchmark administration.id "est_theta_percentile_sex" %}%</td>
            </tr>
            <tr>
                <td></td>
                <td>{% trans 'Percentile (by both sexes):' %}</td>
                <td>{% get_cat_benchmark administration.id "est_theta_percentile" %}%</td>
            </tr>
            <tr>
                <td></td>
                <td>{% trans 'Estimated Vocabulary Size (by sex):' %}</td>
                <td>{% get_cat_benchmark administration.id "raw_score_sex" %}</td>
            </tr>
            <tr>
                <td></td>
                <td>{% trans 'Estimated Vocabulary Size (by both sexes):' %}</td>
                <td>{% get_cat_benchmark administration.id "raw_score" %}</td>
            </tr>
        </table>
        <div>
            <p>3rd Edition (Marchman et al., 2023)</p>
        </div>
    </div>

    {% endif %}
    {% endfor %}

{% endblock %}
