{% load i18n cdiform_tags %}
{% to_list 'Dutch' as language_list %}
{% if 'WG' in object.study.instrument.name or 'L1' in object.study.instrument.name %}
    {% set_true as show_produced %}
{% else %}
    {% set_false as show_produced %}
{% endif %}

<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}

    <title>{% trans title %}</title>
    <meta name="description" content="MacArthur-Bates Communicative Development Inventory">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'cdi_forms/selectize.js' %}"></script>
    <script src="{% static 'cdi_forms/bootstrap-datepicker.js' %}"></script>
    <link rel='stylesheet' href="{% static 'cdi_forms/selectize.bootstrap3.css' %}">
    <link rel='stylesheet' href="{% static 'cdi_forms/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'cdi_forms/docs.min.css' %}" />
    <link rel='stylesheet' href="{% static 'cdi_forms/base.css' %}">
    <script src="{% static 'd3/d3.v3.js' %}"></script>
    <script src="{% static 'lodash/lodash.min.js' %}"></script>
    <script src="{% static 'd3/d3-queue.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'd3/c3.css' %}">
    <script src="{% static 'd3/c3.min.js' %}"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<meta property="og:image" content="http://webcdi.stanford.edu/{% static 'researcher_UI/images/logo.png' %}" />
  	<meta property="og:title" content="{% trans 'MacArthur-Bates Communicative Development Inventory' %}" />
  	<meta property="og:description" content="{% trans 'Interesting tidbits learned from how your child speaks!' %}" />

    <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {% for category in graph_data %}
            console.log("{{ category }}",  "{{ graph_data|get_item:category|get_item:'mappedName' }}", "{{ graph_data|get_item:category|get_item_perc:'produces' }}")
        {% endfor %}

        // Load the Visualization API and the corechart package.
        google.charts.load("current", {packages:["corechart"]});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawProducesChart);

        var graph_colors = [
            "#ff0000","#cc0066","#cc0099","#9933ff",'#3333cc','#0033cc','#0099cc','#009999','#00cc66','#009933','#669900','#cccc00','#ff9900','#ff3300',
            '#ff0000','#cc0066','#cc0099','#9933ff','#3333cc','#0033cc','#0099cc','#009999','#00cc66','#009933','#669900','#cccc00','#ff9900','#ff3300',
            '#ff0000','#cc0066','#cc0099','#9933ff','#3333cc','#0033cc','#0099cc','#009999','#00cc66','#009933','#669900','#cccc00','#ff9900','#ff3300',
            '#ff0000','#cc0066','#cc0099','#9933ff','#3333cc','#0033cc','#0099cc','#009999','#00cc66','#009933','#669900','#cccc00','#ff9900','#ff3300'];
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawProducesChart() {

        // Create the data table.
        var data = new google.visualization.arrayToDataTable([
            ['Category','Percentage', {role: 'style'}],
            {% for category in graph_data %}
                {% if graph_data|get_item:category|get_item:'count' > 0 %}
                ['{{ graph_data|get_item:category|get_item:'mappedName' }}', {{ graph_data|get_item:category|get_item_perc:'produces' }}, graph_colors[{{ forloop.counter0 }}]],
                {% endif %}                
            {% endfor %}
        ]);
        
        // Set chart options
        var options = {
            'title': '{% trans 'Words Produced (%)' %}',
            'width' : {% if show_produced or object.study.instrument.language in language_list %}550{% else %}1000{% endif %},
            'height':750,
            'legend': {position: 'none'},
            'vAxis' : { textStyle : { fontSize: 10} },
            'hAxis' : {viewWindow: { min:0, max:100 }},
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.BarChart(document.getElementById('categories_charts_produced'));

        var btnProducedSave = document.getElementById('save-produced-pdf')
        google.visualization.events.addListener(chart, 'ready', function () {
            btnProducedSave.disabled = false;
        });
        btnProducedSave.addEventListener('click', function () {
            var doc = new jsPDF();
            doc.addImage(chart.getImageURI(), 0, 0);
            doc.save('chart.pdf');
        }, false);

        chart.draw(data, options);
      }
    
        {% if show_produced or object.study.intrument.language in language_list  %}
            google.charts.setOnLoadCallback(drawUnderstoodChart);
            function drawUnderstoodChart() {

                // Create the data table.
                var data = new google.visualization.arrayToDataTable([
                    ['Category','Percentage', {role: 'style'}],
                    {% for category in graph_data %}
                        {% if graph_data|get_item:category|get_item:'count' > 0 %}
                        ['{{ graph_data|get_item:category|get_item:'mappedName' }}', {{ graph_data|get_item:category|get_item_perc:'understands' }}, graph_colors[{{ forloop.counter0 }}]],
                        {% endif %}                
                    {% endfor %}                    
                ]);

                // Set chart options
                var options = {
                    'title': '{% trans 'Words Understood (%)' %}',
                    'width':550,
                    'height':750,
                    'legend': {position: 'none'},
                    'vAxis' : { textStyle : { fontSize: 10} },
                    'hAxis' : {viewWindow: { min:0, max:100 }},
                    };

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.BarChart(document.getElementById('categories_charts_understood'));

                var btnUnderstoodSave = document.getElementById('save-understood-pdf')
                google.visualization.events.addListener(chart, 'ready', function () {
                    btnUnderstoodSave.disabled = false;
                });
                btnUnderstoodSave.addEventListener('click', function () {
                    var doc = new jsPDF();
                    doc.addImage(chart.getImageURI(), 0, 0);
                    doc.save('chart.pdf');
                }, false);
                
                chart.draw(data, options);
            }
        {% endif %}
    </script>

</head>

<body id="id_results">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container bs-docs-container" style='padding-top: 60px; padding-bottom: 60px;'>
    <form class='form-horizontal'>
        {% csrf_token %}
        <div class = "col-md-12">
        <!-- Thank you letter written to participants upon completion with the CDI logo. If participant is meant to be compensated, letter will also include a gift card code, monetary amount, and instructions on how to redeem the gift card. -->
            <div class="row">
                <div class="col-lg-4 col-8 mx-auto">
                    <img src={% static 'images/logo_bg.jpg' %} class="rounded mx-auto d-block" alt="{% trans 'MB-CDI Lab Logo' %}" style="width: 100%"> <br>
                </div>
            </div>
            {% if object.study.end_message == 'standard' or object.study.end_message == 'combined' %}            
            <div class="row">

                <h2>{% trans "Thank you!" %} </h2><br>
                <h1>{% for i in instrument_list%}{{ i }} X {% endfor %}</h1>
                <h4>
                    {% blocktrans %}Thank you for taking the time to complete the MacArthur-Bates Communicative Development Inventory (CDI). With the help of parents and caregivers like you, we are working to learn more about the way that children’s language develops, and how that development varies across individual children and cultures. Remember that the CDI lists many different words that are used by many different children. Don’t worry if your child only knows a few of them right now. Below are some insights into your child’s developing vocabulary, based on our research. This summary is not a clinical evaluation. If you have any concerns about your child’s development, we recommend that you talk with your child’s physician. If you enjoyed our assessment, you can learn more about the CDI <a href="http://mb-cdi.stanford.edu/" target="_blank">here</a>. We appreciate your contribution!{% endblocktrans %}
                </h4>

                {% if gift_card %}
                <br>
                    {% if gift_card == 'ran out' %}
                        <h4>
                            {% blocktrans with contact_url=contact_url email=object.study.researcher.email %}We're sorry but it looks like we have run out of Gift Cards. Please <a href="mailto:{{ email }}" target="_blank">reach out to us</a> and we will quickly fix this issue.{% endblocktrans %}
                        </h4>
                    {% else %}
                        <h4>
                            {% if gift_card.payment_type == 'Amazon' %}
                                <p>
                                    {% blocktrans %}Thank you for participating in our Web-CDI project! It is our pleasure to send you this {{ gift_card.payment_type }} Gift Card that can be redeemed towards millions of items at <a href="https://{{ payment_type_url }}" target="_blank">{{ payment_type_url }}</a>. You may want to print this screen for easy reference later--you’ll need the gift card claim code below.{% endblocktrans %}
                                </p>
                                <p>
                                    {% trans "Gift Card Amount" %}: {{ gift_card.gift_amount }}  <br>
                                    {% trans "Claim Code" %}: {{ gift_card.gift_code }}
                                </p>
                                <p>
                                    {% blocktrans with redeem_url=redeem_url legal_url=legal_url %}To redeem your gift card, visit <a href="{{ redeem_url }}" target="_blank">{{ redeem_url }}</a>. Restrictions apply, see <a href="{{ legal_url }}" target="_blank">{{ legal_url }}</a>.{% endblocktrans %}
                                </p>
                            {% elif gift_card.payment_type == 'Tango' %}
                                <p>
                                    {% trans "Thank you for participating in our Web-CDI project! It is our pleasure to send you this Tango Choice Card that can be redeemed for a gift card from your choice of hundreds of stores! Just click below and you will be taken to the Tango site. You may want to print this screen for easy reference later--you’ll need the gift card claim code below. " %}
                                </p>
                                <p>
                                    {% trans "To redeem your gift card, visit " %}<a href="https://{{ gift_card.gift_code }}" target="_blank">{{ gift_card.gift_code }}</a>.
                                </p>
                            {% endif %}
                        </h4>
                 
                    {% endif %}
                                
                {% endif %}

                <br><br>
            </div>
            {% endif %}
            {% if object.study.end_message == 'bespoke' or object.study.end_message == 'combined' %}
                <div class="row">
                    {{ object.study.end_message_text|safe }}
                </div>
            {% endif %}
            <br>

        </div>

        {% if object.study.show_feedback %}
            <!-- Button triggers the D3 graph div to appear. -->
            <div class="row justify-content-center" style="padding-bottom: 1%;">
                <a class="btn btn-primary btn-lg active" href="#graph_data" data-toggle="collapse">{% trans "Graph My Data!" %}</a>
            </div>
        {% endif %}

        <!-- Text triggers the submitted answers div to appear -->
        <div class="row justify-content-center">
            <h4><a href="#filled_form" data-toggle="collapse">{% trans "Show Me My Answers" %}</a></h4>
        </div>
        {% if object.study.print_my_answers_boolean %}
        <div class="row justify-content-center">
            <h4><a href="{% url 'administration-pdf-view' object.pk %}">{% trans "Print My Answers" %}</a></h4>
        </div>
        {% endif %}
        {% if object.study.redirect_boolean %}
        <div class="row justify-content-center">
            <h4><a class="btn btn-danger btn-lg active" href="{{ redirect_url }}">{% trans "Click to complete the study" %}</a></h4>
        </div>
        {% endif %}
        
        <br>
        {% if object.study.show_feedback %}
            <div class="col-md-12 collapse show" id="graph_data" style="height: 90vh;">
                <br>
                <div class = "row"> 
                    <div class="col-md-6 text-center" id="num_words_text"></div>
                    <div class="col-md-6 text-center" id="hardest_words"></div>
                </div>
                <br>
                <div class = "row" style="margin-left:-65px; margin-right:-65px"> 
                    {% if show_produced or object.study.instrument.language in language_list %}
                        <div class="col-md-6 text-center">
                            <div id="categories_charts_understood"></div>
                            <input id="save-understood-pdf" type="button" value="{% trans 'Save as PDF' %}" disabled />
                        </div>
                        <div class="col-md-6 text-center">
                            <div id="categories_charts_produced"></div>
                            <input id="save-produced-pdf" type="button" value="{% trans 'Save as PDF' %}" disabled />
                        </div>
                    {% else %}
                        <div class="col-md-12 text-center">
                            <div id="categories_charts_produced"></div>
                            <input id="save-produced-pdf" type="button" value="{% trans 'Save as PDF' %}" disabled />
                        </div>
                    {% endif %}
                </div>
                <br>
                <div class = "row justify-content-center"> 
                    <h4><div id="best_categories" class="text-center"></div></h4>
                </div>
            </div>
        {% endif %}

        <!-- Div for submitted form. Identical to section in cdi_form.html however all inputs are disabled and all answers are displayed on one page. -->
        <div class = "col-md-12 collapse" id="filled_form" role="main" style="padding-top:220px">

            <div class="row">
                {% load crispy_forms_tags %}
                {% crispy background_form %}
                {% if backpage_background_form %}{% crispy backpage_background_form %}{% endif %}
            </div>
            
            {% if parts %}
                <ul>
                    {% include "cdi_forms/cdi_items.html" with parts=parts %}
                </ul>
            {% else %}
                <p>{% trans "Form unavailable. Contact admin." %} </p>
            {% endif %}
        </div>
    </form>
</div>

<!-- Disables all inputs and select options. Renames 'produces' to 'understands and says' -->
<script>
    $('input').prop('disabled', 'True');
    $('select').prop('disabled', 'True');
    $('label.btn').addClass('disabled');

    $( "input[id$='produces']" ).each( function (){ 
        var label_var = $(this).parent().find('span.choice');
        $(label_var).text("understands and says");
    });

    setTimeout(function () {
        $('.fb-share-button span').css('width', '20%');
    }, 200);      
</script>

{% if object.study.show_feedback %}
    <!-- Script for generating D3 graphs. Very long!!-->
    <script>
        // Set variables for graph sizes and line thickness
        var graph_height = 500;
        var graph_width = 500;
        var stroke_thickness = 4;

        refresh_time = 10;

        // Parse Django string object data. Grab relevant variables
        var raw_data = '{{ cdi_items |escapejs }}';
        var root = JSON.parse(raw_data);
        var raw_age = '{{ object.backgroundinfo.age }}';
        root.age = JSON.parse(raw_age);
        root.completed = '{{ object.completed }}';
        root.instrument_name = '{{ object.study.instrument.name }}';

        // Load word-level data for participant. Parse into 2 or 3 bins depending on instrument type.
        var words = root.filter(function(d) { return d.item_type == "word"; });
        $.each(words, function(index, value){
            value.definition = value.definition.toLowerCase();
            value.num_value = 'neither';
            if (value.item.indexOf('textbox')<0) {
                if ((root.instrument_name.indexOf('WS') > -1) | (root.instrument_name.indexOf('CDI3') > -1)) {
                    if (value.prefilled_value) {
                        value.num_value = 'produces';
                    } else {
                        if (value.choices[0][2]) {
                            value.num_value = 'understands';
                        } else 
                            try {
                                if (value.choices[1][2]) {
                                    value.num_value = 'produces';
                                }
                            }
                            catch { console.log("No value.choices[1][2]")}    
                    }
                } else if ('{{ show_produced }}' == 'True') {
                    if (value.choices[0][2]) {
                        value.num_value = 'understands';
                    } else if (value.choices[1][2]) {
                        value.num_value = 'produces';
                    }
                }
            }
        });

        // Sort words into bins as 'understands' (only), 'understands'|'produces', and 'produces' (only)
        var raw_words_understood = words.filter(function(d) { return d.num_value == 'understands' ; }).length;
        var words_understood = words.filter(function(d) { return d.num_value == 'produces' | d.num_value == 'understands' ; }).length;
        var words_produced = words.filter(function(d) { return (d.num_value == 'produces'); }).length;
        // Create summary text depending on number of words in bins.

        if (words_produced > 0 & raw_words_understood > 0) {
            var num_words = "{% trans 'My child says PPP words and understands UUU words.' %}".replace(/PPP/g, words_produced).replace(/UUU/g, words_understood)
        } else if (words_produced > 0 & raw_words_understood == 0) {
            var num_words = "{% trans 'My child says PPP words.' %}".replace(/PPP/g, words_produced)
        } else if (words_produced == 0 & raw_words_understood > 0) {
            var num_words = "{% trans 'My child understands UUU words.' %}".replace(/UUU/g, words_understood)
        }
        

        // Place text variable into div
        if (words_produced > 0 | raw_words_understood > 0) {
            $("#num_words_text").html("<h2>"+num_words+"</h2>");
        }

        // Generate a category-level summary of vocabulary
        var categorySize = d3.nest()
            .key(function(d) { return d.category; })
            .key(function(d) { return d.num_value; })
            .rollup(function(v) { return v.length; })
            .entries(words);

        // Declare variables for word_categories graph
        var word_categories;
        var prod_graph_width = graph_width;
        var comp_graph_width = graph_width;
        var new_chart_understood;

        // Load csv matching informal category labels with formal category titles and generate 2 category-level summary graph.
        // If child only had responses of one type (all words are 'understands' or all words are 'produces'), produce 1 graph and double its width
        d3.csv("{% static 'data_csv/word_categories.csv' %}", function(data) {
            word_categories = data;
            var list_names = objectMap(categorySize,'key')
            updateCategoryInfo();
            
            $.each(word_categories, function(index){
                var category_id = word_categories[index].id;
                var name_location = list_names.indexOf(category_id)
                if (name_location > -1 ) {
                categorySize[name_location].category_name = word_categories[index][root.instrument_name];
                }
            });
            
            bestCategories();

        });

        // Returns a list of values for variables nested in a list of objects.
        function objectMap (obj, variable) {
            var values = []
            i = 0;
            $.each(obj, function(index){ 
                values[i] = obj[index][variable]
                i = i + 1;
            });
            return values;
        }

        // Assign categories colors. Also summary performance data for each individual category
        function updateCategoryInfo() {

            var category_colors = colorHue(categorySize.length)

            $.each(categorySize, function(index, value){
                value.color = category_colors[index]
                value.hex = value.color.toString()
                value.neither = 0;
                value.understands = 0;
                value.produces = 0;

                for (var i = 0; i < categorySize[index].values.length; i++) {
                    var current_val = categorySize[index].values[i]
                    if(current_val.key == 'neither') {
                        value.neither = current_val.values;
                    }
                    if(current_val.key == 'understands') {
                        value.understands = current_val.values;
                    }
                    if(current_val.key == 'produces') {
                        value.produces = current_val.values;
                    }

                }

                value.num_all = value.neither + value.understands + value.produces
                value.prop_understood = 100*(value.understands + value.produces)/(value.num_all)
                value.prop_produced = 100*(value.produces)/(value.num_all)
            });
        }

        // Function for shuffling the order of an array.
        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            while (0 !== currentIndex) {

                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }

        // Function for generating a color palette spanning the color range and dependent on the # of unique hues needed
        function colorHue(n) {
            var hues = []
            var step_count = 360/n

            for (var i = 0; i < n; i++) {
                hue = Math.round(15 + i*step_count);
                hues.push(d3.hcl(hue, 100, 60));
            }
            return shuffle(hues);
        }

        // Declare both category charts
        var chart_understood;
        var chart_produced;


        var bestProdCat_num = 0;
        var bestCompCat_num = 0;
        var bestProdCat;
        var bestCompCat;

        // Determine categories with highest performance and produce a text summary for presentation
        function bestCategories() {

            for (var i = 0; i < categorySize.length; i++) {
                if (categorySize[i].prop_produced > bestProdCat_num & words_produced > 0) {
                    bestProdCat_num = categorySize[i].prop_produced;
                    bestProdCat = categorySize[i].category_name;
                }

                if (categorySize[i].prop_understood > bestCompCat_num & raw_words_understood > 0) {
                    bestCompCat_num = categorySize[i].prop_understood;
                    bestCompCat = categorySize[i].category_name;
                }
            }

            if (typeof(bestProdCat) !== 'undefined') {
                $("#best_categories").append('{% trans "My child produces the most words in the bestProdCat category." %}<br>'.replace(/bestProdCat/g, '"' + bestProdCat + '"'));
            }

            if (typeof(bestCompCat) !== 'undefined') {
                $("#best_categories").append('{% trans "My child understands the most words in the bestCompCat category." %}<br>'.replace(/bestCompCat/g, '"' + bestCompCat + '"'));
            }
        }

        var aoa_data;
        var words_prod;
        var words_comp;
        var aoa_data_prod;
        var aoa_data_comp;
        var aoa_prod_combined;
        var aoa_comp_combined;
        var high_prod_aoa;
        var high_comp_aoa;
        var high_prod_word;
        var high_comp_word;

        // Merge objects by matching values in specific keys
        function join(lookupTable, mainTable, lookupKey, mainKey, select) {
            var l = lookupTable.length,
            m = mainTable.length,
            lookupIndex = [],
            output = [];

            for (var i = 0; i < l; i++) { // loop through l items
                var row = lookupTable[i];
                lookupIndex[row[lookupKey]] = row; // create an index for lookup table
            }

            for (var j = 0; j < m; j++) { // loop through m items
                var y = mainTable[j];
                var x = lookupIndex[y[mainKey]]; // get corresponding row from lookupTable
                output.push(select(y, x)); // select only the columns you need
            }

            return output;
        };


        // Take age of acquisition (AOA) data produced by Mika Braginsky. Match it with individual's word performance to determine the words understood/produced with the highest AOA values.
        d3.csv("{% static 'data_csv/language_aoas.csv' %}", function(data) {
            aoa_data = data.filter(function(d) { return (d.language == '{{ object.study.instrument.language }}'); });

            words_prod = words.filter(function(d) { return (d.num_value == 'produces'); });
            words_comp = words.filter(function(d) { return (d.num_value == 'understands'); });

            aoa_data_prod = aoa_data.filter(function(d) { return (d.measure == 'produces'); });
            aoa_data_comp = aoa_data.filter(function(d) { return (d.measure == 'understands'); });

            aoa_prod_combined = join(aoa_data_prod, words_prod, "words", "definition", function(word, aoa) {
                return {
                    word: word.definition,
                    aoa: (aoa !== undefined) ? parseFloat(aoa.aoa) : null
                };
            });

            aoa_comp_combined = join(aoa_data_comp, words_comp, "words", "definition", function(word, aoa) {
                return {
                    word: word.definition,
                    aoa: (aoa !== undefined) ? parseFloat(aoa.aoa) : null
                };
            });

            if (aoa_prod_combined.length > 0) {
                high_prod_aoa = 0

                for (var i = 0; i < aoa_prod_combined.length; i++) {
                    if (aoa_prod_combined[i].aoa > high_prod_aoa) {
                        high_prod_aoa = aoa_prod_combined[i].aoa;
                        high_prod_word = aoa_prod_combined[i].word;
                    }
                }
            }

            if (aoa_comp_combined.length > 0) {
                high_comp_aoa = 0

                for (var j = 0; j < aoa_comp_combined.length; j++) {
                    if (aoa_comp_combined[j].aoa > high_comp_aoa) {
                        high_comp_aoa = aoa_comp_combined[j].aoa;
                        high_comp_word = aoa_comp_combined[j].word;
                    }
                }
            }


            if (typeof(high_prod_word) !== 'undefined') {
                $('#hardest_words').append('<h2>' + '{% trans "The hardest word my child says is INSERTWORDHERE." %}<br>'.replace(/INSERTWORDHERE/g, '"' + high_prod_word + '"') + '</h2>')
            }

            else {
                if (typeof(high_comp_word) !== 'undefined') {
                    $('#hardest_words').append('<h2>' + '{% trans "The hardest word my child understands is INSERTWORDHERE." %}<br>'.replace(/INSERTWORDHERE/g,  '"' + high_comp_word + '"') + '</h2>')
                }
            }
        });

        var predicted_vocab;
        var pred_prod_min;
        var pred_comp_min;
        var pred_prod_quant;
        var pred_comp_quant;
        var quant_prod;
        var quant_age_loc_prod;
        var adjust_prod;
        var quant_comp;
        var quant_age_loc_comp;
        var adjust_comp;
        var adjusted_quant_prod = [];
        var adjusted_quant_comp = [];
        var current_vocab = [];
        var new_pred_chart;

        var pred_chart;
        var node;


        // Function wraps lengthy text labels for proper spacing between items
        function wrap(text, width) {
            text.each(function() {
                var text = d3.select(this),
                    words = text.text().split(/\s+/).reverse(),
                    word,
                    line = [],
                    lineNumber = 0,
                    lineHeight = 0.9, // ems
                    y = text.attr("y"),
                    dx = parseFloat(text.attr("dx")),
                    dy = parseFloat(text.attr("dy")),
                    tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dx", dx + "em").attr("dy", dy + "em");

                while (word = words.pop()) {
                    line.push(word);
                    tspan.text(line.join(" "));
                    if (tspan.node().getComputedTextLength() > width) {
                        line.pop();
                        tspan.text(line.join(" "));
                        line = [word];
                        tspan = text.append("tspan")
                            .attr("x", 0)
                            .attr("y", y)
                            .attr("dx", dx + "em")
                            .attr("dy", ++lineNumber * lineHeight + dy + "em")
                            .text(word);
                    }
                }
            });
        }

    </script>
{% endif %}

<script>
    // This is meant to change to RTL
    var layout = {};
    layout.setDirection = function (direction) {
        layout.rtl = (direction === 'rtl');
        document.getElementsByTagName("html")[0].style.direction = direction;
        var styleSheets = document.styleSheets;
        var modifyRule = function (rule) {
            if (rule.style.getPropertyValue(layout.rtl ? 'left' : 'right') && rule.selectorText.match(/\.col-(xs|sm|md|lg)-push-\d\d*/)) {
                rule.style.setProperty((layout.rtl ? 'right' : 'left'), rule.style.getPropertyValue((layout.rtl ? 'left' : 'right')));
                rule.style.removeProperty((layout.rtl ? 'left' : 'right'));
            }
            if (rule.style.getPropertyValue(layout.rtl ? 'right' : 'left') && rule.selectorText.match(/\.col-(xs|sm|md|lg)-pull-\d\d*/)) {
                rule.style.setProperty((layout.rtl ? 'left' : 'right'), rule.style.getPropertyValue((layout.rtl ? 'right' : 'left')));
                rule.style.removeProperty((layout.rtl ? 'right' : 'left'));
            }
            if (rule.style.getPropertyValue(layout.rtl ? 'margin-left' : 'margin-right') && rule.selectorText.match(/\.col-(xs|sm|md|lg)-offset-\d\d*/)) {
                rule.style.setProperty((layout.rtl ? 'margin-right' : 'margin-left'), rule.style.getPropertyValue((layout.rtl ? 'margin-left' : 'margin-right')));
                rule.style.removeProperty((layout.rtl ? 'margin-left' : 'margin-right'));
            }
            if (rule.style.getPropertyValue('float') && rule.selectorText.match(/\.col-(xs|sm|md|lg)-\d\d*/)) {
                rule.style.setProperty('float', (layout.rtl ? 'right' : 'left'));
            }
        };
        try {
            for (var i = 0; i < styleSheets.length; i++) {
                var rules = styleSheets[i].cssRules || styleSheets[i].rules;
                if (rules) {
                    for (var j = 0; j < rules.length; j++) {
                        if (rules[j].type === 4) {
                            var mediaRules = rules[j].cssRules || rules[j].rules
                            for (var y = 0; y < mediaRules.length; y++) {
                                modifyRule(mediaRules[y]);
                            }
                        }
                        if (rules[j].type === 1) {
                            modifyRule(rules[j]);
                        }

                    }
                }
            }
        } catch (e) {
            // Firefox might throw a SecurityError exception but it will work
            if (e.name !== 'SecurityError') {
                throw e;
            }
        }
    }

    if ("{{ language_code }}"=="he") {
        layout.setDirection("rtl")
    }

</script>

</body>
</html>
