{% extends 'cdi_forms/cdi_base.html' %}
{% load i18n %}

{% block nav_buttons %}
{% if not completed %}
<div class="row d-flex justify-content-center">
    <input name="btn-next" value='{% trans "Next" %}' class="btn btn-primary" type="submit">
</div>
{% endif %}
{% endblock %}

{% block main %}

{% if background_form %}
    <input type="hidden" name="background-info-form" value="background-info-form"/>{% csrf_token %}

<div class="row">
    <h2>{% trans "MacArthur-Bates Communicative Development Inventory" %}</h2>
    <h4><div class="flex-row" id="instrument_age" style="text-decoration: underline;">
        {% blocktrans with min_age=min_age max_age=max_age %}For {{ min_age }}- to {{ max_age }}-month-old children{% endblocktrans %}
    </div></h4>
    <div class="flex-row">
        <h4>{% trans "Instructions for completing the language inventory" %}</h4>
        <ul>
            {% if form == 'CAT' or form == 'CAT2' %}
                <li>{% trans "In this survey, we ask you about words that your child “says” in English." %}</li>
                <li>{% trans "Try to complete the survey when you have a few quiet minutes, without interruptions. An example might be when your child is sleeping." %}</li>
                <li>{% trans "Don’t worry! Your child does not need to pronounce the words exactly as you do (e.g., “raff” instead of “giraffe”).  And there might be some words in your family that you use instead (e.g., “nana” for “grandma”)." %} </li>
                <li>{% trans "Remember, these words are just some of the words that a child might say, so it is ok if they do not say all of them!" %}</li>
            {% else %}
                {% if form == "WG" or form == "WS" %}
                    <li> {% trans "Try to complete the inventory when you have at least 30 quiet minutes, without interruptions. An example might be when your child is sleeping." %} </li>
                {% else %}
                    <li> {% trans "Try to complete the inventory when you have at least 10-15 quiet minutes, without interruptions. An example might be when your child is sleeping." %} </li>
                {% endif %}
                <li> {% trans "You do not have to complete the inventory in one sitting. If you are interrupted, it is ok to put it down and come back to it when you have more time." %} </li>
                <li> {% trans "Feel free to ask others (e.g. other family members, nanny, child care providers) to help you fill out this form." %} </li>
                <li> {% trans "Please read all of the instructions on the inventory carefully, and make sure you complete all of the sections." %} </li>
                <!-- Added optional bullet point describing compensation post-submission. Only appears if participant will be compensated. -->
                {% if gift_amount %}
                    <li> 
                        {% blocktrans with gift_amount=gift_amount %}You will receive a ${{ gift_amount }} Amazon.com gift card after you complete the form. As we are a research lab with limited funds, we ask that you only complete this questionnaire once.{% endblocktrans %}
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <p>
        {% trans "For more information about the MB-CDI," %} <a href="http://mb-cdi.stanford.edu/">{% trans "click here" %}</a>.<br> 
        {% trans "Thank you! We appreciate your time and effort!" %}
    </p>
</div>
<br>
<div class="row">
    <h3>{% trans "Background Information" %}</h3><br>
    <div>{{ explanation }}</div>
    
    <!-- Load backgroundform in crispy format. -->
    <div class="flex-row">{% load crispy_forms_tags %}    
    {{ background_form.errors }}
    {% crispy background_form %}</div>

</div>

<div class="row d-flex justify-content-center">
    <input name="btn-next" value='{% trans "Next" %}' class="btn btn-primary" type="submit">
</div>


{% else %}
<p>{% trans "Form unavailable. Contact admin." %} </p>
{% endif %}
{% endblock %}

{% block scripts %}
    {% include 'cdi_forms/background_info_scripts.html' %}
{% endblock %}
