{% extends 'cdi_forms/cdi_base.html' %}

{% block nav_buttons %}
{% if not completed %}
<div class="row d-flex justify-content-center">
    <input name="btn-next" value="Next" class="btn btn-primary" type="submit">
</div>
{% endif %}
{% endblock %}

{% block main %}
{% if background_form %}
<input type="hidden" name="background-info-form" value="background-info-form"/> {% csrf_token %}
<div class="row">
    <h2>MacArthur-Bates Communicative Development Inventory</h2>
    <h4><div id = "instrument_age" style = "text-decoration: underline;"></p></div><br>
    <h4>Instructions for completing the language inventory</h4>
    <ul>
        <li> Try to complete the inventory when you have at least 30 quiet minutes, without interruptions. An example might be when your child is sleeping. </li>
        <li> You do not have to complete the inventory in one sitting. If you are interrupted, it is ok to put it down and come back to it when you have more time. </li>
        <li> Feel free to ask others (e.g. other family members, nanny, child care providers) to help you fill out this form. </li>
        <li> Please read all of the instructions on the inventory carefully, and make sure you complete all of the sections. </li>
        <!-- Added optional bullet point describing compensation post-submission. Only appears if participant will be compensated. -->
        {% if gift_amount %}
            <li> You will receive a ${{ gift_amount }} Amazon.com gift card after you complete the form. As we are a research lab with limited funds, we ask that you only complete this questionnaire once.
        {% endif %}
    </ul>
    <p>For more information about the MB-CDI, <a href="http://mb-cdi.stanford.edu/">click here</a>.</p>
    <p>Thank you! We appreciate your time and effort!</p>
</div>
<br>
<div class="row">
    <h3>Background Information</h3>
    <!-- Load backgroundform in crispy format. -->
    {% load crispy_forms_tags %}
    {% crispy background_form %}

</div>

<div class="row d-flex justify-content-center">
    <input name="btn-next" value="Next" class="btn btn-primary" type="submit">
</div>


{% else %}
<p>Form unavailable. Contact admin. </p>
{% endif %}
{% endblock %}

{% block scripts %}
<script>

    // Some fields are labeled as enabler fields (refer to cdi_forms/forms.py). 
    // If the participant chooses 'Yes' (corresponds to value '1'), a textbox appears that demands a greater description. 
    // If the other two options ('Prefer to not disclose'/2 or 'No'/0), then the textbox field will be hiddent. 
    $('.enabler[value="1"]').each(function(index, e){
        if(e.checked){
            $(e).closest('.form-group').next('.dependent').css('display','block');
        }
        $(e).change(function(){
            $(e).closest('.form-group').next('.dependent').css('display','block');
        });
    });
    $('.enabler[value="0"], .enabler[value="2"]').each(function(index, e){
        if(e.checked){
            $(e).closest('.form-group').next('.dependent').css('display','none');
        }
        $(e).change(function(){
            $(e).closest('.form-group').next('.dependent').css('display','none');
        });
    });

    var $select = $('.make-selectize').selectize({
        maxItems :null,
    });

    // In the event that the datepicker functionality is used to change the date in the dob field, age in months will be calculated.
    $('#id_child_dob').datepicker({ignoreReadonly: true})
        .on('changeDate', function() {
            getDiffinMonths();
        });

    $('#id_child_dob').inputmask("mm/dd/yyyy", 
              { 
                  onincomplete: function(){
                      $(this).val('');
                  }
              }
      );

    // Upon completion, all input fields will be disabled to show static answers.
    {% if completed %}
        $('input').prop('disabled', True);
    {% endif %}

    // Prevents use of back and forward browser buttons. Participant should rely on given navigation buttons on site.
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    $

    // Age field is disabled. Changes must be made by inputting DOB into dob field
    $("#id_age").prop('disabled', true);

    // Function for calculating age in months. Final age in months is calculated in cdi_forms/views.py
    function getDiffinMonths() {
        
        var raw_b_date = new Date($('#id_child_dob').val());
        var b_date = moment(raw_b_date);

        if (!isNaN(raw_b_date.getTime()) && $("#id_child_dob").val() != ''){
            var t_date = moment();
            var day_diff = ((t_date.date() - b_date.date()) >= 15)? 1: 0
            var diff_in_months = 12*(t_date.year() - b_date.year()) + (t_date.month() - b_date.month()) + day_diff;

            if (diff_in_months > 0){
                $("#id_age").val(diff_in_months);
            }

        }
    };

    // Any changes in dob field will trigger re-calculation of age in months.
    $('#id_child_dob').on('change', function () {
        getDiffinMonths();
    })

    // Age in months is calculated upon loading
    getDiffinMonths();

    var instrument_name = "{{ title }}";

    // If a study waiver was uploaded by the researcher (# of characters in field is greater than zero),
    // Display modal for consent waiver. Also add warnings regarding age under age in months field
    var study_waiver = "{{ study_waiver|length }}";
    window.onload = function() { 

        if (parseInt(study_waiver) > 0) {
            if (Cookies.get('old_visitor') == null) {
                $('#consent_waiver').modal('show');
                Cookies.set('old_visitor','yes',{path: ''});
            }
        }
        addWarnings();
    };

    // Function reminding parents of age in months. In green and underlined for parents to notice.
    // If there is a study paired with current study, page will suggest the parents look at the paired study if their child is not the right age.
    function addWarnings() {

        var instrument_name = "{{ title }}";
        var text = "For ".concat("{{ min_age }}","- to ", "{{ max_age }}", "-month-old children")
        var hint = "<br><font color = '#3C763D' style = 'text-decoration: underline;'>Your child should be between ".concat("{{ min_age }}"," to ", "{{ max_age }}", " months of age.</font>")

        var study_group = "{{ study_group }}"
        if (study_group != "None") {
            study_group_hint = " Not the right age? <a href='{% url 'find_paired_studies' username study_group %}"+ "'> Click here</a>"
        } else {
            study_group_hint = ""
        }

        $("#instrument_age").html(text);

        $('#hint_id_age').append(hint, study_group_hint);
    }


</script>

{% if user.is_authenticated %}
<!-- If user is logged-in (vetted researcher), fastforward debug functions will be available. -->

    <script>
        function fastforward() {
            $('#id_child_dob').val(moment().subtract(17,'M').format("MM/DD/YYYY"))
            $('#id_sex_1').click();
            $('#id_zip_code').val((""+Math.random()).substring(2,7))
            $('#id_birth_order').val(4);
            $('#id_multi_birth_boolean_1').click();
            $('#id_birth_weight').val(7.5);
            $('#id_born_on_due_date_1').click();
            $('#id_mother_yob').val(1990);
            $('#id_mother_education').val(16);
            $('#id_father_yob').val(1990);
            $('#id_father_education').val(16);
            $('#id_annual_income').val('100000-125000');
            $('#id_caregiver_info').val(2);
            $('#id_other_languages_boolean_1').click();
            $('#id_ear_infections_boolean_3').click();
            $('#id_hearing_loss_boolean_1').click();
            $('#id_vision_problems_boolean_1').click();
            $('#id_illnesses_boolean_1').click();
            $('#id_services_boolean_3').click();
            $('#id_worried_boolean_1').click();
            $('#id_learning_disability_boolean_1').click();
        }
    </script>
{% endif %}
{% endblock %}
