{% extends 'cdi_forms/cdi_base.html' %}
{% block nav_buttons %}
    {% if not completed %}
        <input name="btn-save" value="Save" class="btn btn-primary" type="submit">
        <input name="btn-next" value="Next" class="btn btn-primary" type="submit">
    {% endif %}
{% endblock %}
{% block main %}
{% if background_form %}
        <input type='hidden' name='background-info-form' value='background-info-form'/>
        <div class = 'row'>
        {% load crispy_forms_tags %}
        {% crispy background_form %}
        </div>
{% else %}
        <p>Form unavailable. Contact admin. </p>
    {% endif %}
{% endblock %}

{% block scripts %}
        <script>


    $('.enabler[value="True"]').each(function(index, e){
        if(e.checked){
            $(e).closest('.form-group').next('.dependent').css('display','block');
        }
        $(e).change(function(){
            $(e).closest('.form-group').next('.dependent').css('display','block');
        });
    });
    $('.enabler[value="False"]').each(function(index, e){
        if(e.checked){
            $(e).closest('.form-group').next('.dependent').css('display','none');
        }
        $(e).change(function(){
            $(e).closest('.form-group').next('.dependent').css('display','none');
        });
    });
    var $select = $('.make-selectize').selectize({
        maxItems :null, 
    });
    $('#id_child_dob').datepicker();
    {% if completed %}
        $('input').prop('disabled', True);
    {% endif %}
        </script>
{% endblock %}
