<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}

    <title>{{ title }}</title>
    <meta name="description" content="English Words and Sentences CDI form">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'cdi_forms/selectize.js' %}"></script>
    <script src="{% static 'cdi_forms/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'cdi_forms/moment.js' %}"></script>
    <link rel='stylesheet' href="{% static 'cdi_forms/selectize.bootstrap3.css' %}">
    <link rel='stylesheet' href="{% static 'cdi_forms/datepicker.css' %}">
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css" />
    <link rel='stylesheet' href="{% static 'cdi_forms/base.css' %}">
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.3/d3-queue.min.js"></script>
    <script src="{% static 'cdi_forms/js.cookie.js' %}"></script>

</head>

<body data-spy="scroll" data-target="#navbar">
    <div class="container bs-docs-container" style="padding-top: 60px; padding-bottom: 60px;">
    <form id="cdi_form" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-md-3" role="complementary">

                <nav id="navbar" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="padding-top:60px;">
                    <div>
                        <a href="#instructions" data-toggle="collapse" id="instructions_title"><h4>Instructions: &#8744;</h4></a>
                        <div id="instructions" class = "collapse">
                            <ul>
                                <li> This form can be filled anytime before the due date. </li>
                                <li> It can also be saved at any time and resumed later by using the same link (<a id="bookmarkme" href="">create bookmark</a>).</li>
                                <li> After the form is submitted, it cannot be altered. </li>
                                <li> The form also cannot be altered after the due date. </li>
                                <li> Please use the navigation buttons below. Do not use the "back" and "forward" buttons on your browser. </li>
                                <li> You can use the tab button and arrows keys to quickly navigate and answer questions. </li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                                $("#bookmarkme").click(function() {
                                    // Mozilla Firefox Bookmark
                                    if ('sidebar' in window && 'addPanel' in window.sidebar) {
                                        window.sidebar.addPanel(location.href,document.title,"");
                                    } else if( /*@cc_on!@*/false) { // IE Favorite
                                        window.external.AddFavorite(location.href,document.title);
                                    } else { // webkit - safari/chrome
                                        alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
                                    }
                                });
                            });
                        </script>
                        <div id="due_time"></div>
                        <script type="text/javascript">
                        var due_date = "{{ due_date }}";
                        var due_date_utc = moment.utc("{{ due_date }}", "MMM. DD, YYYY, hh:mm a");
                        var due_date_local = moment(due_date_utc).local().format("MMM. D, YYYY, h:mm a");
                        $('#due_time').html("<p><b> Due date </b>: " + due_date_local + "</p>");
                        </script>

                        {% if study_waiver and study_waiver != "" %}
                            <a href="#" id="show_waiver" onclick = "$('#consent_waiver').modal('show');"> Show waiver of documentation </a><br>
                        {% endif %}

                        {% if hash_id %}
                            <a href="{% url 'contact' hash_id=hash_id %}" target="_blank">Reach out to the Web-CDI Team!</a>
                        {% endif %}

                        {% block nav_buttons %}
                        {% endblock %}
                    </div>

                        {% block navcontents %}
                        {% endblock %}


                </nav>

            </div>
            <div class = "col-md-9" role="main">
                {% block main %}
                {% endblock %}

            </div>
        </div>
    </form>
</div>

<div id="consent_waiver" class="modal fade" role="dialog">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" >Waiver of Documentation</h2>
            </div>

            <div class="modal-body">
                {% if study_waiver and study_waiver != "" %}
                    {{ study_waiver |linebreaks }}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="okaybtn">Okay</button>
            </div>

        
        </div>
    </div>
</div>

{% block scripts %}
{% endblock %}
</body>
</html>
