{% load i18n %}
{% load bleach_markdown %}

{% for part in parts %}
<div id = "{{ part.id }}_div" class="part_div collapse">

    <h2 id="{{ part.id }}"> {{ part.title }}</h2>

    {% for type in part.types %}
    <div id = "{{ type.id }}_div" class = "page_div collapse">
        <h3 id = "{{ type.id }}"> {{ type.title }}</h3>
        <p class="lead"> {{ type.text | capfirst }}</p>
        <div class="row alternate-color">
            {% for object in type.objects %}
                {% if 'textbox' in object.item %}
                    <div class="col-md-12 alco-child"> 
                        <div class="row alco-child1" >
                            <div class="col-lg-5 col-12"><span class="choice">{{ object.text }}</span></div>
                            <div class="col-lg-7 col-12">
                                <textarea class="boxsizingBorder" id="{{ object.itemID }}" name="{{ object.itemID }}" width="100%" rows=5 {% if completed %} disabled {% endif %}>{{ object.prefilled_value }}</textarea>
                            </div>
                        </div>
                    </div>
                {% elif type.type == "radiobutton" or type.type == "modified_checkbox" %}
                    {% if object.text != '' %}
                    <div class="col-md-12 alco-child" name = "{{ object.itemID }}_div">
                        <div class="row alco-child1" >
                            <div class="col-lg-5 col-12"><span class="choice">{{ object.text|safe }}</span></div>
                            <div class="col-lg-7 col-12 align-items-center btn-group btn-group-justified d-flex justify-content-end btn-group-vertical" data-toggle="buttons">
                                {% for choice in object.choices %}
                                    <label class = "btn mult-choice d-flex justify-content-end" for="{{ object.itemID }}_{{ choice.1 }}">
                                        <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.1 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                        {% if type.type == "radiobutton" %} 
                                            <i class="material-icons radio_button_checked" aria-hidden="true">radio_button_checked</i>
                                            <i class="material-icons radio_button_unchecked" aria-hidden="true">radio_button_unchecked</i>
                                        {% elif type.type == "modified_checkbox"%} 
                                            <i class="material-icons check_box" aria-hidden="true">check_box</i>
                                            <i class="material-icons check_box_outline_blank" aria-hidden="true">check_box_outline_blank</i>
                                        {% endif %}
                                        &nbsp;&nbsp;<span class="choice">{{ choice.0 }}</span>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-4 col-8 alco-child" name = "{{ object.itemID }}_div" >
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            {% for choice in object.choices %}
                                <div class="row">
                                    <label class = "btn mult-choice" for="{{ object.itemID }}_{{ choice.1 }}">
                                        <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.1 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                        {% if type.type == "radiobutton" %} 
                                            <i class="material-icons radio_button_checked" aria-hidden="true">radio_button_checked</i>
                                            <i class="material-icons radio_button_unchecked" aria-hidden="true">radio_button_unchecked</i>
                                        {% elif type.type == "modified_checkbox"%} 
                                            <i class="material-icons check_box" aria-hidden="true">check_box</i>
                                            <i class="material-icons check_box_outline_blank" aria-hidden="true">check_box_outline_blank</i>
                                        {% endif %}
                                        &nbsp;&nbsp;<span class="choice">{{ choice.0 }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% elif type.type == "checkbox" %}
                    <div class="col-lg-4 col-8 alco-child"> 
                        <div class="btn-group btn-block" data-toggle="buttons"> 
                            <label class = "btn btn-block d-flex justify-content-start" for="{{ object.itemID }}">
                                <input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %}> 
                                <i class="material-icons check_box" aria-hidden="true">check_box</i>
                                <i class="material-icons check_box_outline_blank" aria-hidden="true">check_box_outline_blank</i>
                                &nbsp;&nbsp;<span class="choice">{{ object.definition|bleach_markdown }}</span>
                            </label>
                        </div>
                    </div>
                {% elif type.type == "textbox" %}
                    <div class="col-md-12"> <input type="textbox" class="rounded border border-secondary" id="{{ object.itemID }}" name="{{ object.itemID }}" maxlength="200" value="{{ object.prefilled_value }}" {% if completed %} disabled {% endif %}></div>
                {% endif %}
            {% endfor %}
        </div>
        <ul>
            {% for section in type.sections %}
            <div id = "{{ section.id }}_div"  class = "page_div collapse">

                <h4 id ="{{ section.id }}" >{{ section.title }}</h4>
                <div class="col-md-12">{{ section.text }}</div>
                <div class="row ">
                    {% for object in section.objects %}
                        {% if 'textbox' in object.item %}
                            <div class="col-md-12 alco-child"> 
                                <div class="row alco-child1" >
                                    <div class="col-lg-5 col-12"><span class="choice">{{ object.text }}</span></div>
                                    <div class="col-lg-7 col-12">
                                        <textarea class="boxsizingBorder" id="{{ object.itemID }}" name="{{ object.itemID }}" width="100%" rows=5 {% if completed %} disabled {% endif %}>{{ object.prefilled_value }}</textarea>
                                    </div>
                                </div>
                            </div>
                        {% elif section.type == "radiobutton" or section.type == "modified_checkbox" %}
                            {% if object.text != '' %}
                            <div class="col-md-12 alco-child" name = "{{ object.itemID }}_div">
                                <div class="row alco-child1" >
                                    <div class="col-lg-5 col-12"><span class="choice"> {{ object.text }}</span></div>
                                    <div class="col-lg-7 col-12 align-items-center btn-group btn-group-justified d-flex justify-content-end btn-group-vertical" data-toggle="buttons">
                                        {% for choice in object.choices %}
                                            <label class = "btn mult-choice d-flex justify-content-end" for="{{ object.itemID }}_{{ choice.1 }}">
                                                <input {% if section.type == "radiobutton" %} type="radio" {% elif section.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.1 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                                {% if section.type == "radiobutton" %} 
                                                    <i class="material-icons radio_button_checked" aria-hidden="true">radio_button_checked</i>
                                                    <i class="material-icons radio_button_unchecked" aria-hidden="true">radio_button_unchecked</i>
                                                {% elif section.type == "modified_checkbox"%} 
                                                    <i class="material-icons check_box" aria-hidden="true">check_box</i>
                                                    <i class="material-icons check_box_outline_blank" aria-hidden="true">check_box_outline_blank</i>
                                                {% endif %}
                                                &nbsp;&nbsp;<span class="choice">{{ choice.0 }}</span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-lg-4 col-8 alco-child" name = "{{ object.itemID }}_div">
                                <div class="btn-groupbtn-group-justified " data-toggle="buttons">
                                    {% for choice in object.choices %}
                                        <div class="row">
                                            <label class = "btn mult-choice" for="{{ object.itemID }}_{{ choice.1 }}">
                                                <input {% if section.type == "radiobutton" %} type="radio" {% elif section.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.1 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                                {% if section.type == "radiobutton" %} 
                                                    <i class="material-icons radio_button_checked" aria-hidden="true">radio_button_checked</i>
                                                    <i class="material-icons radio_button_unchecked" aria-hidden="true">radio_button_unchecked</i>
                                                {% elif section.type == "modified_checkbox"%} 
                                                    <i class="material-icons check_box" aria-hidden="true">check_box</i>
                                                    <i class="material-icons check_box_outline_blank" aria-hidden="true">check_box_outline_blank</i>
                                                {% endif %}
                                                &nbsp;&nbsp;<span class="choice">{{ choice.0 }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {% elif section.type == "checkbox" %}
                            <div class="col-lg-4 col-8 alco-child">
                                <div class="btn-group btn-block" data-toggle="buttons"> 
                                    <label class = "btn btn-block d-flex justify-content-start" for="{{ object.itemID }}">
                                        <input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %}> 
                                        <i class="material-icons check_box" aria-hidden="true">check_box</i>
                                        <i class="material-icons check_box_outline_blank" aria-hidden="true">check_box_outline_blank</i>
                                        &nbsp;&nbsp;<span class="choice">{{ object.definition|bleach_markdown }}</span>
                                    </label>
                                </div>
                            </div>
                        {% elif section.type == "textbox" %}
                            <div class="col-md-12"> <input type="textbox" class="rounded border border-secondary" id="{{ object.itemID }}" name="{{ object.itemID }}" maxlength="200" value="{{ object.prefilled_value }}" {% if completed %} disabled {% endif %}></div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-12">{{ section.footnote }}</div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>

    {% endfor %}
</div>
{% endfor %}