{% extends 'cdi_forms/cdi_base.html' %}

{% block nav_buttons %}
{% if not completed %}
<input name="btn-save" value="Save" class="btn btn-primary" type="submit">
<input name="btn-submit" value="Submit" class="btn btn-primary submit-button" type="submit" onclick="clicked(event)">
<input name="btn-back" value='Go back to Background Info' class="btn btn-primary" type="submit">

{% endif %}
{% endblock %}



{% block navcontents %}
<a href="#nav_list" data-toggle="collapse" id="tob_title"><h4>Table of Contents: &#8744;</h4></a>
<div id = "nav_list" class = "collapse">
    <h4>Contents:</h4>
    <ul class="nav bs-docs-sidenav">
        {% for part in parts %}
            <li><a href="#{{ part.id }}" onclick="findPage({{ part.types.0.id }}_div)">{{ part.title }}</a>
                <ul class="nav">
                    {% for type in part.types %}
                        <li><a onclick="findPage({{ type.id }}_div)">{{ type.title }}</a></li>
                        {% for section in type.sections %}
                            <li><a onclick="findPage({{ section.id }}_div)">{{ section.title }}</a></li>
                        {% endfor %}

                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block main%}
{% csrf_token %}
{% if parts %}

<ul>
    <div id="intro" class = "page_div collapse"><div>
        {% if instrument_name  == "English_WG" %}
            {% load staticfiles %}

            <div id = "intro_part1" class = "page_div collapse">
                <p class="lead" id="intro_text">
                    In this section, you will be asked about the phrases and words that your child "understands" and "understands and says". Here are some examples.
                </p>
                <h4>Your child "understands" a word or phrase:</h4> <br><br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/understands-yes-get.png' %} class="rounded float-xs-left" alt="Hearing the word AND looking for the object can mean that your child understands it."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>If s/he shows that s/he knows what the word/phrase means by responding to it appropriately.  For example, when you say "Get the ball" s/he turns and tries to find the ball.<br><br>

                        DO check "understands".</h4>

                    </div>
                </div><br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/understands-no-hear.png' %} class="rounded float-xs-left" alt="Hearing the word is not enough to say that your child understands it."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>DON'T check "understands" if you don't think that s/he knows meaning of that word/phrase.  S/he might have heard it before, like in a story, but you don't think s/he would know what it means. </h4>

                    </div>
                </div><br>

            </div>

            <div id = "intro_part2" class = "page_div collapse">

                <h4>Your child "understands and says" a word or phrase:</h4> <br><br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-yes-ball.png' %} class="rounded float-xs-left" alt="Having your child say the word in the presence of the object can mean that your child understands and says the word."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>If s/he says the word/phrase when trying to describe an object or something that happened and you think s/he has a meaning for that word/phrase. <br><br>

                        DO check "understands and says".</h4>


                    </div>
                </div> <br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-yes-raff.png' %} class="rounded float-xs-left" alt="Having your child say the word in the presence of the object can mean that your child understands and says the word."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>It's fine if your child can't say the whole word or says it his/her own way. It's also fine if your child says words that have the same meaning but are special to your own family (e.g., "nana" for "grandma").<br><br>

                        DO check "understands and says".</h4>


                    </div>
                </div> <br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-no-baba.png' %} class="rounded float-xs-left" alt="Saying the word alone is not enough to mean that your child understands and says a word. The context is important!"style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>DON’T check "understands and says" if your child is just stringing sounds together and you don't think it is a "real" word that means something.</h4>

                    </div>
                </div><br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-no-coaching.png' %} class="rounded float-xs-left" alt="Having your child repeat back a taught word is not enough to mean that your child undestands the word."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>DON'T ask your child to repeat the words on the list. This doesn't count!<br><br>

                        DON'T check "understands and says".</h4>


                    </div>
                </div><br>

            </div>
                   

        {% elif instrument_name  == "English_WS" %}
            {% load staticfiles %}

            <div id = "intro_part1" class = "page_div collapse">

                <p class="lead" id="intro_text">
                    In this section, you will be asked about the phrases and words that your child "says". Here are some examples.
                </p>
                <h4>Your child "says" a word or phrase:</h4> <br><br>


                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-yes-ball.png' %} class="rounded float-xs-left" alt="Having your child say the word in the presence of the object can mean that your child understands and says the word."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>If s/he says the word/phrase when trying to describe an object or something that happened and you think s/he has a meaning for that word/phrase.<br><br>

                        DO mark the word.</h4>


                    </div>
                </div> <br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-yes-raff.png' %} class="rounded float-xs-left" alt="Having your child say the word in the presence of the object can mean that your child understands and says the word."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>It's fine if your child can't say the whole word or says it his/her own way. It's also fine if your child says words that have the same meaning but are special to your own family (e.g., "nana" for "grandma").<br><br>

                        DO mark the word.</h4>


                    </div>
                </div> <br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-no-baba.png' %} class="rounded float-xs-left" alt="Saying the word alone is not enough to mean that your child understands and says a word. The context is important!"style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>DON’T mark the word if your child is just stringing sounds together and you don't think it is a "real" word that means something.</h4>

                    </div>
                </div><br>

                <div class="row">
                    <div class="col-xs-6">
                        <img src={% static 'images/says-no-coaching.png' %} class="rounded float-xs-left" alt="Having your child repeat back a taught word is not enough to mean that your child undestands the word."style="max-width: 90%; border: 1px solid black;">

                    </div>

                    <div class="col-xs-6">
                        <h4>DON'T ask your child to repeat the words on the list. This doesn't count!<br><br>

                        DON'T mark the word.</h4>


                    </div>
                </div><br>

            </div>

        {% endif %}
    <br><br>
    <h4>This assessment is for children of many ages. Your child may not be able to understand or say a lot of the words on the form and that is perfectly fine. </h4><br>
    </div>
    </div>

</ul>

<input type='hidden' name='cdi-form' value='cdi-form'/>

<ul>
    {% for part in parts %}
    <div id = "{{ part.id }}_div" class="part_div collapse">

        <h2 id="{{ part.id }}"> {{ part.title }}</h2>

        {% for type in part.types %}
        <div id = "{{ type.id }}_div" class = "page_div collapse">
            <h3 id = "{{ type.id }}"> {{ type.title }}</h3>
            <p class="lead"> {{ type.text | capfirst }}</p>
            <div class="row alternate-color">
                {% for object in type.objects %}
                    {% if type.type == "radiobutton" or type.type == "modified_checkbox" %}
                        {% if object.text != '' %}
                        <div class="col-md-12 alco-child" name = "{{ object.itemID }}_div">
                            <div class="row alco-child1" >{{ object.text | capfirst }} <!-- </div>
                            <div class="row"> -->
                                <div class="pull-right">
                                    {% for choice in object.choices %}
                                    &ensp;
                                    <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                    <label for="{{ object.itemID }}_{{ choice.0 }}"> {{ choice.0 }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-md-4 alco-child" name = "{{ object.itemID }}_div" >
                            {% for choice in object.choices %}
                            <div class="row">
                                &ensp;
                                <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}"{% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                <label for="{{ object.itemID }}_{{ choice.0 }}"> {{ choice.0 }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% elif type.type == "checkbox" %}
                        <div class="col-md-4 alco-child"> <input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %}> <label for="{{ object.itemID }}"> {{ object.gloss }}</label></div>
                    {% elif type.type == "textbox" %}
                        <div class="col-md-12"> <input type="textbox" id="{{ object.itemID }}" name="{{ object.itemID }}" maxlength="200" value="{{ object.prefilled_value }}" {% if completed %} disabled {% endif %}></div>
                    {% endif %}
                {% endfor %}
            </div>
            <ul>
                {% for section in type.sections %}
                <div id = "{{ section.id }}_div"  class = "page_div collapse">

                    <h4 id ="{{ section.id }}" >{{ section.title }}</h4>
                    <div class="row ">
                        {%for object in section.objects %}
                            {% if type.type == "radiobutton" or type.type == "modified_checkbox" %}
                                {% if object.text != '' %}
                                <div class="col-md-12 alco-child" name = "{{ object.itemID }}_div">
                                    <div class="row alco-child1" >{{ object.text | capfirst }} <!-- </div>
                                    <div class="row"> -->
                                        <div class="pull-right">
                                            {% for choice in object.choices %}
                                            &ensp;
                                            <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                            <label for="{{ object.itemID }}_{{ choice.0 }}"> {{ choice.0 }}</label>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-4 alco-child" name = "{{ object.itemID }}_div">
                                    {% for choice in object.choices %}
                                    <div class="row">
                                        &ensp;
                                        <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}"{% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                        <label for="{{ choice.0 }}"> {{ choice.0 }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% elif type.type == "checkbox" %}
                                <div class="col-md-4 alco-child"> <input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %}> <label for="{{ object.itemID }}"> {{ object.gloss }}</label></div>
                            {% elif type.type == "textbox" %}
                                <div class="col-md-12"> <input type="textbox" id="{{ object.itemID }}" name="{{ object.itemID }}" maxlength="200" value="{{ object.prefilled_value }}" {% if completed %} disabled {% endif %}></div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-md-12">{{ section.starred }}</div>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>

        {% endfor %}
    </div>
    {% endfor %}
    <div id = "analysis_div"  class = "page_div collapse">    
        <h4>
            You are almost done! Click "Yes" if you agree with ALL of the following points. Your answer will not affect your results. There is nothing wrong with choosing "No":
        </h4>

        <ul>
            <li>You have a child who is {{ age.0 }} months old.</li>
            <li>You filled out the entire questionnaire to the best of your ability.</li>
        </ul>
        <br>

        <input  type="radio" id="analysis_yes" name="analysis" value="True">
        <label for="analysis_yes"> Yes, I have a child who is {{ age.0 }} months old and I filled out the entire questionnaire. </label>
        <br>
        <input  type="radio" id="analysis_no" name="analysis" value="False">
        <label for="analysis_no"> No, I do NOT have a child who is {{ age.0 }} months old and/or I have NOT filled out the entire questionnaire. </label>

    </div> <br><br>

    <div class="row text-center">
        <a class="btn btn-primary prev-cdi-page" href="#">&#60;&#60; Previous Page</a>
        <a class="btn btn-primary next-cdi-page" href="#">Next Page &#62;&#62;</a>
        <input name="btn-submit" value="Submit" class="btn btn-primary submit-button" type="submit" onclick="clicked(event)">
        <font id="progress"></font>
        <br>
        <input name="btn-save" value="Save" class="btn btn-primary" type="submit">
        <input name="btn-back" value='Go back to Background Info' class="btn btn-primary" type="submit">
    </div>
    <input type="hidden" id="page_number" name="page_number" value = "0">
    <hr>
    <div class="row text-center">Don't forget to save your progress whenever you can!</div>


</ul>
{% else %}
<p>Form unavailable. Contact admin. </p>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    $("#instructions").collapse('show');

    //Prevent backspacing in form. Test-takers should use the provided Back and Next Buttons
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    // Confirm to prevent premature submissions
    function clicked(e)
    {
        if(!confirm('Are you ready to submit? You cannot change your answers after submission.'))e.preventDefault();

        localStorage.removeItem('prev_page_number');

    }

    //Create mutually exclusive checkboxes. 0 or 1 checkbox in a group may be clicked.
    $("input:checkbox").on('click', function() {
      // in the handler, 'this' refers to the box clicked on
      var $box = $(this);
      if ($box.is(":checked")) {
        // the name of the box is retrieved using the .attr() method
        // as it is assumed and expected to be immutable
        var group = "input:checkbox[name='" + $box.attr("name") + "']";
        // the checked state of the group/box on the other hand will change
        // and the current value is retrieved using .prop() method
        $(group).prop("checked", false);
        $box.prop("checked", true);
      } else {
        $box.prop("checked", false);
      }
    });   

    $( "input[id$='produces']" ).each( function (){ 
        var box_name = $(this).attr("id");
        var label_var = "label[for='".concat(box_name,"']")
        $(label_var).text("understands and says");
    });


    var gotToEnd = false;
    $('.submit-button').hide();

    //Collapses and expands sections to act like a page-flipper
    function changePages(which_page) {

        if (which_page === undefined) {
            which_page = page_num;
        } else {
            page_num = which_page;
        }


        current_page = filterednames[which_page];
        console.log(which_page + "; " + current_page.id)

        parent_page = current_page.parentElement.parentElement;


        if ($.inArray( parent_page.id, larger_types ) > -1) {
            $(".page_div").not("#" + parent_page.id).collapse('hide')
            $("#" + parent_page.id).collapse('show');
        } else {
            $(".page_div").collapse('hide');
        }

        $("#" + current_page.id).collapse('show');

        $('#page_number').val(page_num);

        localStorage.setItem("prev_page_number", $('#page_number').val());
        localStorage.setItem("prev_hash_id", "{{ hash_id }}");

        $('#progress').text((page_num+1) + "/" + filterednames.length)

        checkPageNum() 
        closeParts()

        if ($('#combine_div :radio:checked').val() == "not yet") {
            gotToEnd = true;
        }
        if (page_num == (filterednames.length - 1)) {
            gotToEnd = true;
        }

        
        if (gotToEnd) {
            $('.submit-button').show();
        }

    }

    //For types and sections nested in parts, keeps only the relevant part open (e.g., "Part 2: Gestures" won't be open and visible while the test-taker is working on "Phrases")
    function closeParts() {

        $(".part_div").each( function () {
            if ($(this).has("#" + current_page.id).length) {
                $(this).collapse('show')
            } else{
                 $(this).collapse('hide')
            }

        });
    }

    //Defining starting variables. Page number is set to 0 (indexes are 0-based)

    try {
        if (localStorage.getItem("prev_hash_id") == "{{ hash_id }}") {
            var old_page_num = localStorage.getItem("prev_page_number") || 0
        } else {
            var old_page_num = 0;
        }


        var page_num = Math.max(parseInt('{{ page_number }}'), old_page_num);
    }
    catch(err) {
        var page_num = 0
    }
    var parent_page
    var current_page

    //Naming types that are containers of smaller sections. Important for creating pages from a nested structure!
    var larger_types = ["intro","word_div", "gestures_div", "word_ending_div", "word_form_div"];

    // Going through all the named type and section divisions and pulling out those that are not just containers for smaller sections
    var filterednames = $(".page_div").filter(function(index, value) {
        return ($.inArray( value.id, larger_types ) == -1);
    });

    //Initial page turning. Test starts on page 0 (first page)
    changePages();


    //Page changing buttons. Flip forwards of backwards
    $('.prev-cdi-page').on('click', function (e) {
        e.preventDefault();
        page_num--;
        changePages();
    })

    $('.next-cdi-page').on('click', function (e) {
        e.preventDefault();
        page_num++;
        changePages();

    })


    //Prevent page_num from going below 0 or above the max number of pages - 1 by removing the capable buttons
    function checkPageNum() {

        if (page_num <= 0) {
            $('.prev-cdi-page').hide();
        } else{
            $('.prev-cdi-page').show();

        }

        if (page_num >= filterednames.length -1) {
            $('.next-cdi-page').hide();
            $('.submit-button').css('background-color', '#249D00');
        } else{
            $('.next-cdi-page').show();
            $('.submit-button').css('background-color', '#337ab7');
        }
    }

    //Navbar functionality. Clicking a section in the nav-bar now flips you to the relevant page.
    function findPage(page_title) {
        var page_location = $.inArray( page_title, filterednames ); 
        if (page_location > -1) {
            var x = page_location;
        } else {
            var next_page = $(filterednames).filter(function(index, value) {
                return ($("#" + page_title.id).has("#" + value.id).length);
            }).first();
            console.log(next_page)
            var x = $.inArray( next_page[0], filterednames ); 
        }
        console.log(x)
        changePages(x);
    }

    $('div.col-md-4.alco-child:has(input:checkbox)').on('click', function() {
        $( this ).find('input').click();
    })



</script>
{% endblock %}
