
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}

    <title>Words and Sentences CDI</title>
    <meta name="description" content="English Words and Sentences CDI form">
    <meta name="author" content="Ashwin Paranjape">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'cdi_forms/selectize.js' %}"></script>
    <script src="{% static 'cdi_forms/bootstrap-datepicker.js' %}"></script>
    <link rel='stylesheet' href="{% static 'cdi_forms/selectize.bootstrap3.css' %}">
    <link rel='stylesheet' href="{% static 'cdi_forms/datepicker.css' %}">
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css" />
    <link rel='stylesheet' href="{% static 'cdi_forms/base.css' %}">


    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body >

    <div id="content">
        <div class="h_iframe">
            <iframe style="border:none" id="analysis"  src="http://52.32.108.131:3838/individual_results/?={{ hash_id }}"></iframe>
        </div>
    </div>



    
</body>
</html>
