<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}

    <title>Words and Sentences CDI</title>
    <meta name="description" content="English Words and Sentences CDI form">
    <meta name="author" content="Ashwin Paranjape">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'cdi_forms/selectize.js' %}"></script>
    <script src="{% static 'cdi_forms/bootstrap-datepicker.js' %}"></script>
    <link rel='stylesheet' href="{% static 'cdi_forms/selectize.bootstrap3.css' %}">
    <link rel='stylesheet' href="{% static 'cdi_forms/datepicker.css' %}">

        <!--.alternate-color :nth-child(odd){
              background-color:#ddd;
        }
        .alternate-color :nth-child(even){
              background-color:#fff;
        }-->
    <style>
        .alco-child{
            margin:10px;
            background-color:#eee;
        }

        input[type=checkbox] + label {
              color: #222;
        } 
        input[type=checkbox]:checked + label {
              color: #3C763D;
        } 
        input[type=radio] + label {
              color: #222;
        } 
        input[type=radio]:checked + label {
              color: #3C763D;
        } 
        .dependent{
            display:none;
        }

    </style>
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body >
    <div class="container bs-docs-container" style='padding-top: 60px; padding-bottom: 60px;'>
    <form class='form-horizontal'>
    <div class = "col-md-12" role="main">
    <div class="row">
        {% load crispy_forms_tags %}
        {% crispy background_form %}
    </div>
{% if parts %}
    <ul>
            {% for part in parts %}
                <h2 id="{{ part.id }}"> {{ part.title }}</h2>
                
                {% for type in part.types %}
                    <h3 id = "{{ type.id }}"> {{ type.title }}</h3>
                    <p class="lead"> {{ type.text | title }}</p>
                    <div class="row alternate-color">
                    {% for object in type.objects %}
                        {% if type.type == "radiobutton" %}
                            {% if object.text != '' %}
                                <div class="col-md-12 alco-child"> 
                                    <div class="row">{{ object.text | capfirst }} </div>
                                    <div class="row">
                                        {% for choice in object.choices %}
                                            <input type="radio" id="{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}> 
                                            <label for="{{ choice.0 }}"> {{ choice.0 }}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-4 alco-child"> 
                                    {% for choice in object.choices %}
                                        <div class="row">
                                                <input type="radio" id="{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}"{% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}> 
                                                <label for="{{ choice.0 }}"> {{ choice.0 }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                
                            {% endif %}
                        {% else %}
                            <div class="col-md-4 alco-child"> <input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %}> <label for="{{ object.itemID }}"> {{ object.definition }}</label></div>
                        {% endif %}
                            
                    {% endfor %}
                    </div>
                    <ul>
                    {% for section in type.sections %}
                        <h4 id ="{{ section.id }}" >{{ section.title }}</h4>
                            <div class="row ">
                                {%for object in section.objects %}
                                <div class="col-md-4"><input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %} > <label for="{{ object.itemID }}"> {{ object.gloss }} </label></div>
                                {% endfor %}
                            </div>
                    {% endfor %}
                    </ul>
                    
                
                {% endfor %}
            {% endfor %}
            </ul>
    {% else %}
        <p>Form unavailable. Contact admin. </p>
    {% endif %}
    </div>
    <form>
</div>

<script>
        $('input').prop('disabled', 'True');
        $('select').prop('disabled', 'True');
</script>
</body>
</html>
