<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}

    <title>Words and Sentences CDI</title>
    <meta name="description" content="English Words and Sentences CDI form">
    <meta name="author" content="Ashwin Paranjape">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'cdi_forms/selectize.js' %}"></script>
    <script src="{% static 'cdi_forms/bootstrap-datepicker.js' %}"></script>
    <link rel='stylesheet' href="{% static 'cdi_forms/selectize.bootstrap3.css' %}">
    <link rel='stylesheet' href="{% static 'cdi_forms/datepicker.css' %}">
    <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css" />
    <link rel='stylesheet' href="{% static 'cdi_forms/base.css' %}">

        <!--.alternate-color :nth-child(odd){
              background-color:#ddd;
        }
        .alternate-color :nth-child(even){
              background-color:#fff;
        }-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body >
    <div class="container bs-docs-container" style='padding-top: 60px; padding-bottom: 60px;'>
    <form class='form-horizontal'>
    {% csrf_token %}
    <div class = "col-md-12">
       

        <div class="row">
            <h2>Thank you!</h2><br>
            Thank you for taking the time to complete the MacArthur-Bates Communicative Development Inventory (CDI). With the help of parents and caregivers like you, we are working to learn more about the way that children’s language develops, and how that development varies across individual children and cultures. Remember that the CDI lists many different words that are used by many different children. Don’t worry if your child only knows a few of them right now. Below are some insights into your child’s developing vocabulary, based on our research. This summary is not a clinical evaluation. If you have any concerns about your child’s development, we recommend that you talk with your child’s physician. If you enjoyed our assessment and would like to learn more about our work, please visit our facebook page <a href="https://www.facebook.com/langcoglab/" target="_blank">here</a>. We appreciate your contribution!
            <br><br>
            <div class="col-md-3">
                <img src={% static 'images/mikeSig.png' %} class="rounded float-xs-left" alt="Michael C. Frank Signature"style="max-width: 50%;"><br>
                Michael C. Frank<br>
                Lab Director<br>            
                Stanford Language and Cognition Lab<br>
            </div>
            <div class="col-md-9 text-right">
                <img src={% static 'images/labLogo.png' %} class="rounded float-xs-right" alt="Stanford Language and Cognition Lab Logo" style="max-width: 25%;"> <br>
                <img src={% static 'researcher_UI/images/logo.png' %} class="rounded float-xs-right" alt="Stanford Language and Cognition Lab Logo" style="max-width: 25%;">
            </div>
        </div>
        <br>
        <div class="row text-center">
            <a class="btn btn-primary btn-lg" href="#graph_data" data-toggle="collapse">Graph My Data!</a>
        </div>
    </div>

    <div class="row text-center">
        <a href="#filled_form" data-toggle="collapse">Show Me My Answers</a>
    </div>

    <div class="col-md-12 collapse" id="graph_data" style="height: 90vh;">
        <iframe style="border:2px solid lightgrey;" id="analysis"  src="http://52.32.108.131:3838/individual_results/?={{ hash_id }}" width="100%" height="100%"></iframe>
    </div>

    <div class = "col-md-12 collapse" id="filled_form" role="main">

    <div class="row">
        {% load crispy_forms_tags %}
        {% crispy background_form %}
    </div>
{% if parts %}
    <ul>
            {% for part in parts %}
                <h2 id="{{ part.id }}"> {{ part.title }}</h2>
                
                {% for type in part.types %}
                    <h3 id = "{{ type.id }}"> {{ type.title }}</h3>
                    <p class="lead"> {{ type.text | capfirst }}</p>
                    <div class="row alternate-color">
                        {% for object in type.objects %}
                            {% if type.type == "radiobutton" or type.type == "modified_checkbox" %}
                                {% if object.text != '' %}
                                <div class="col-md-12 alco-child">
                                    <div class="row alco-child1" >{{ object.text | capfirst }} <!-- </div>
                                    <div class="row"> -->
                                        <div class="pull-right">
                                            {% for choice in object.choices %}
                                            &ensp;
                                            <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                            <label for="{{ object.itemID }}_{{ choice.0 }}"> {{ choice.0 }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-4 alco-child">
                                    {% for choice in object.choices %}
                                    <div class="row">
                                        &ensp;
                                        <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}"{% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                        <label for="{{ object.itemID }}_{{ choice.0 }}"> {{ choice.0 }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}                            
                            {% elif type.type == "checkbox" %}
                                <div class="col-md-4 alco-child"> <input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %}> <label for="{{ object.itemID }}"> {{ object.gloss }}</label></div>
                            {% elif type.type == "textbox" %}
                                <div class="col-md-12"> <input type="textbox" id="{{ object.itemID }}" name="{{ object.itemID }}" maxlength="200" value="{{ object.prefilled_value }}" {% if completed %} disabled {% endif %}></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <ul>
                        {% for section in type.sections %}
                        <h4 id ="{{ section.id }}" >{{ section.title }}</h4>
                        <div class="row ">
                            {%for object in section.objects %}
                                {% if type.type == "radiobutton" or type.type == "modified_checkbox" %}
                                    {% if object.text != '' %}
                                    <div class="col-md-12 alco-child">
                                        <div class="row alco-child1">{{ object.text | capfirst }} <!-- </div>
                                        <div class="row"> -->
                                            <div class="pull-right">
                                                {% for choice in object.choices %}
                                                &ensp;
                                                <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ object.itemID }}_{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}" {% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                                <label for="{{ object.itemID }}_{{ choice.0 }}"> {{ choice.0 }}</label>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-md-4 alco-child">
                                        {% for choice in object.choices %}
                                        <div class="row">
                                            &ensp;
                                            <input {% if type.type == "radiobutton" %} type="radio" {% elif type.type == "modified_checkbox"%} type="checkbox" {% endif %} id="{{ choice.0 }}" name="{{ object.itemID }}" value="{{ choice.1 }}"{% if completed %} disabled {% endif %}{% if choice.2 %} checked {% endif %}>
                                            <label for="{{ choice.0 }}"> {{ choice.0 }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}                            
                                {% elif type.type == "checkbox" %}
                                    <div class="col-md-4 alco-child"> <input type="checkbox" id="{{ object.itemID }}" name="{{ object.itemID }}" value="{{ object.choices }}"{% if completed %} disabled {% endif %} {% if object.prefilled_value %} checked {% endif %}> <label for="{{ object.itemID }}"> {{ object.gloss }}</label></div>
                                {% elif type.type == "textbox" %}
                                    <div class="col-md-12"> <input type="textbox" id="{{ object.itemID }}" name="{{ object.itemID }}" maxlength="200" value="{{ object.prefilled_value }}" {% if completed %} disabled {% endif %}></div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-12">{{ section.starred }}</div>
                        </div>
                        {% endfor %}
                    </ul>
                    
                
                {% endfor %}
            {% endfor %}
            </ul>
    {% else %}
        <p>Form unavailable. Contact admin. </p>
    {% endif %}

    </div>
    <form>
</div>

<script>
        $('input').prop('disabled', 'True');
        $('select').prop('disabled', 'True');

        $('#graph_data').on('shown.bs.collapse', function () {
            $('#filled_form').collapse('hide')        
        })


        $('#filled_form').on('shown.bs.collapse', function () {
            $('#graph_data').collapse('hide')        
        })

        $( "input[id$='produces']" ).each( function (){ 
            var box_name = $(this).attr("id");
            var label_var = "label[for='".concat(box_name,"']")
            $(label_var).text("understands and says");
        });        
</script>
</body>
</html>
