{% extends 'cdi_forms/cdi_base.html' %}
{% load i18n %}

{% block nav_buttons %}
    {% if not completed %}
        <input name="btn-save" value='{% trans "Save" %}' class="btn btn-primary" type="button">
        <input name="btn-next" value='{% trans "Next" %}' class="btn btn-primary" type="submit">
    {% endif %}
{% endblock %}

{% block main %}
    {% if background_form %}
        <input type="hidden" name="background-info-form" value="background-info-form"/>
        <div class="row">
            <h2>{% trans "MacArthur-Bates Communicative Development Inventory" %}</h2>
            <h4><div class="flex-row" id="instrument_age" style="text-decoration: underline;">
                {% blocktrans with min_age=min_age max_age=max_age %}For {{ min_age }}- to {{ max_age }}-month-old children{% endblocktrans %}
            </div></h4>
            <div class="flex-row">
                <h4>{% trans "Instructions for completing the language inventory" %}</h4>
                <ul>
                    <li> {% trans "Try to complete the inventory when you have at least 30 quiet minutes, without interruptions. An example might be when your child is sleeping." %} </li>
                    <li> {% trans "You do not have to complete the inventory in one sitting. If you are interrupted, it is ok to put it down and come back to it when you have more time." %} </li>
                    <li> {% trans "Feel free to ask others (e.g. other family members, nanny, child care providers) to help you fill out this form." %} </li>
                    <li> {% trans "Please read all of the instructions on the inventory carefully, and make sure you complete all of the sections." %} </li>
                </ul>
            </div>
            <p>
                {% trans "For more information about the MB-CDI," %} <a href="http://mb-cdi.stanford.edu/">{% trans "click here" %}</a>.<br> 
                {% trans "Thank you! We appreciate your time and effort!" %}
            </p>
        </div>
        <br>
        <div class="row">
            <!-- Load blank version of backgroundform in crispy format -->
            {% load crispy_forms_tags %}
            {% crispy background_form %}
        </div>
        <!-- Loads modal showing possible studies that participant can enter into. -->
        <div id="possible_studies" class="modal fade" role="dialog">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h2 class="modal-title" >{% for curr_lang in lang_list %}{% language curr_lang %}{% trans "How old is your child?" %}{% endlanguage %}<br>{% endfor %}</h2>
                    </div>

                    <div class="modal-body">

                        <div class="inner">
                            {% for curr_study in possible_studies %}
                                <div id="div_{{curr_study.name|slugify}}">
                                
                                    <h3>
                                        <a href = "{% url 'researcher_ui:administer_new_parent' username=username study_name=curr_study.name %}">
                                            {% language curr_study.instrument.language %}
                                            {% if curr_study.subject_cap %}
                                                {% blocktrans with language=curr_study.instrument.language min_age=curr_study.min_age max_age=curr_study.max_age slots_left=curr_study.slots_left %}
                                                    My baby speaks {{ language }} and is between {{ min_age }} and {{ max_age }} months old. [{{ slots_left }} slot(s) left]
                                                {% endblocktrans%}
                                            {% else %}
                                                {% blocktrans with language=curr_study.instrument.language min_age=curr_study.min_age max_age=curr_study.max_age %}
                                                    My baby speaks {{ language }} and is between {{ min_age }} and {{ max_age }} months old.
                                                {% endblocktrans%}
                                            {% endif %}
                                            {% endlanguage %}
                                        </a> 
                                    </h3> 
                                    
                                    <br>
                                
                                </div>
                                
                            {% endfor %}
                        </div>

                    </div>

                
                </div>
            </div>
        </div>

    {% else %}
        <p>{% trans "Form unavailable. Contact admin." %} </p>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>

    $('.enabler[value="True"]').each(function(index, e){
        if(e.checked){
            $(e).closest('.form-group').next('.dependent').css('display','block');
        }
        $(e).change(function(){
            $(e).closest('.form-group').next('.dependent').css('display','block');
        });
    });
    $('.enabler[value="False"]').each(function(index, e){
        if(e.checked){
            $(e).closest('.form-group').next('.dependent').css('display','none');
        }
        $(e).change(function(){
            $(e).closest('.form-group').next('.dependent').css('display','none');
        });
    });
    var $select = $('.make-selectize').selectize({
        maxItems :null,
    });

    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    $


    window.onload = function() { 
        $('#possible_studies').modal({backdrop: 'static', keyboard: false})  
        $('#possible_studies').modal('show');
    };




</script>
{% endblock %}
