{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Activate your account' %}{% endblock %}

{% block content_title %}<h1>{% trans 'Activate your account' %}</h1>{% endblock %}

{% load crispy_forms_tags %}

{% block contents %}
{{ block.super }}
<p>{% trans 'Please fill the password to complete account activation' %}</p>
<form action="" method="post" class="form-activate">{% csrf_token %}
<!--     {{ form|crispy }}
 -->
	{% for field in form %}
	    <div class="row form-group">
	    	<div class="control-label col-lg-3">{{ field.label_tag }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</div>

	    	<div class="controls col-lg-9">{{ field }}</div>
		</div>
	{% endfor %}
	
    <div>
    <button type="submit" class="btn btn-primary">{% trans "Activate" %}</button>
    </div>
</form>
{% endblock %}