{% extends "researcher_UI/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}
<div style="margin-top:100px; margin-bottom:10rem;">
    <div class="container">
        <!--Start login card-->
        <div class="login-card col-12" align="center" >
            <h1>Enter New Password</h1>

            <form method="post" action="" class="form-change-pass">{% csrf_token %}
                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                {% for field in form %}
                    <div class="row form-group">
                        <div class="control-label col-lg-3">{{ field.label_tag }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</div>

                        <div class="controls col-lg-9">{{ field }}</div>
                    </div>
                {% endfor %}

                <div>
                <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>

                <script type="text/javascript">$("#id_old_password").focus();</script>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
