{% extends 'researcher_UI/base.html' %}
{% load i18n %}
{% load static %}
	{% block title %}{% trans 'Login' %}{% endblock %}


{% load crispy_forms_tags %}

{% block main %}
{{ block.super }}
<div style="margin-top:100px; margin-bottom:10rem;">
  <div class="container">
      <!--Start login card-->
      <div class="login-card col-12" align="center" >

        <h1>Password Reset</h1><br>

        <form method="post" action="" class="form-reset-pass">
            
            {% csrf_token %}
            <p style="font-size:15px; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">{% trans "Forgotten your password? Enter your email address below and we will email instructions for setting a new one." %}</p>
    
            <!-- {{ form|crispy }} -->
            <div class="form-group">
                {{ form.email.errors }}
                <label class="col-form-label" for="{{ form.email.id_for_label }}">Email</label>
                <div class="">
                      {{ form.email }}
                </div>
            </div>
            <div>
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">{% trans 'Reset' %}</button>
            </div>
            <div>
        </form>
    </div>


  </div>
  <script type="text/javascript">
    document.getElementById('id_username').focus()
    </script>
</div>

{% endblock %}
