packages:
  yum:
    git: []
    postgresql93-devel: []
    libxslt-devel: []
    libxml2-devel: []
    python36: []
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    lapack-devel: []
    libffi: []
    libffi-devel: []
    cairo-devel: []
    pango: []

commands:
    001_install_libpng16:
        command: yum -y install http://ftp.altlinux.org/pub/distributions/ALTLinux/Sisyphus/x86_64/RPMS.classic/libpng16-1.6.37-alt1.x86_64.rpm
    002_install_freetype:
        command: yum -y install http://mirror.centos.org/centos/8/BaseOS/x86_64/os/Packages/freetype-2.9.1-4.el8.x86_64.rpm
    003_install_font_config:
        command: yum -y install http://mirror.centos.org/centos/8/BaseOS/x86_64/os/Packages/fontconfig-2.13.1-3.el8.x86_64.rpm
    004_install_libpango:
        command: yum -y install http://mirror.centos.org/centos/8/AppStream/x86_64/os/Packages/pango-1.42.4-6.el8.x86_64.rpm
    