packages:
  yum:
    git: []
    postgresql93-devel: []
    libxslt-devel: []
    libxml2-devel: []
    python36: []
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    lapack-devel: []
    libffi: []
    libffi-devel: []
    cairo-devel: []

commands:
    001_install_libpango:
        command: yum -y install http://ftp.altlinux.org/pub/distributions/ALTLinux/Sisyphus/x86_64/RPMS.classic/libpango-1.44.7-alt1.x86_64.rpm
    