packages:
  yum:
    git: []
    postgresql93-devel: []
    libxslt-devel: []
    libxml2-devel: []
    python36: []
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    lapack-devel: []
    libffi: []
    libffi-devel: []
    cairo-devel: []
    pango: []

commands:
    001_install_libpango:
        command: rpm -ivh https://webcdi-pango.s3-us-west-2.amazonaws.com/libpangoft2_1.0_0-1.42.4-3-omv4000.armv7hnl.rpm
    001_upgrade_pango:
        command: rpm -Uvh https://webcdi-pango.s3-us-west-2.amazonaws.com/pango-1.42.4-3-omv4000.x86_64.rpm