container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
    leader_only: false
  02_upgradde_setuptools:
    command: "pip install --upgrade setuptools"
    leader_only: false
  03_requirements:
    command: "pip install -r requirements.txt"
    leader_only: false

files:
  "/opt/python/run/venv/pip.conf":
    mode: "000755"
    owner: root
    user: root
    content: |
      [global]
      no-cache-dir=false

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "webcdi.settings"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:container:python:
    WSGIPath: "webcdi.webcdi.wsgi:application"
    NumProcesses: 6
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
