container_commands:
  01_upgrade_pip:
    command: "source /opt/python/run/venv/bin/activate && pip install --upgrade pip"
    leader_only: true
  02_upgradde_setuptools:
    command: "source /opt/python/run/venv/bin/activate && pip install --upgrade setuptools"
    leader_only: true
  03_requirements:
    command: "source /opt/python/run/venv/bin/activate && pip install -r requirements.txt"
    leader_only: true

files:
  "/opt/python/run/venv/pip.conf":
    mode: "000755"
    owner: root
    user: root
    content: |
      [global]
      no-cache-dir=false

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "webcdi.settings"
    "PYTHONPATH": "/opt/python/current/app/web-cdi:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: webcdi/webcdi/wsgi.py
    NumProcesses: 6
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "webcdi/static/"
