
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "webcdi.settings"
    "PYTHONPATH": "/opt/python/current/app/web-cdi"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: webcdi/webcdi/wsgi.py
    NumProcesses: 6
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "webcdi/static/"
