container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "webcdi.settings"
    "PYTHONPATH": "/opt/python/current/app/web-cdi:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: webcdi/webcdi/wsgi.py
    NumProcesses: 6
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "webcdi/static/"
