container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py collectstatic --noinput"
  #03_axes_reset:
  #  command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py axes_reset"
  04_populateinstrument:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py populate_instrument"
  05_populatescoring:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py populate_scoring"
  06_populatebenchmark:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py populate_benchmark"
  07_populatechoices:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py populate_choices"
  08_populateitems:
    command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py populate_items"
  #09_populate_cat_items:
  #  command: "source /opt/python/run/venv/bin/activate && webcdi/./manage.py populate_cat_items"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "webcdi.settings"
    "PYTHONPATH": "/opt/python/current/app/web-cdi:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: webcdi/webcdi/wsgi.py
    NumProcesses: 6
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "webcdi/static/"
