packages:
  dnf:
    git: []
    amazon-linux-extras: []
    libxslt-devel: []
    libxml2-devel: []
    gcc-c++: []
    gcc-gfortran: []
    lapack-devel: []
    libffi: []
    libffi-devel: []
    cairo: []
    cairo-devel: []
    pango: []
    postgres15: []

#ßcommands:
    #01_postgres_activate:
    #    command: sudo amazon-linux-extras enable postgresql
    #02_postgres_install:
    #    command: sudo dnf install -y postgresql-devel
    