packages:
  yum:
    mariadb105-devel: []
    git: []
    mysql-selinux: []
    mariadb-connector-c: []
    libxslt-devel: []
    libxml2-devel: []
    #gcc-gfortran: []
    #gcc-c++: []
    #lapack-devel: []
    #libffi: []
    #libffi-devel: []
    cairo: []
    cairo-devel: []
    pango: []
    pango-devel: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    