container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
    leader_only: false
  02_upgradde_setuptools:
    command: "pip install --upgrade setuptools"
    leader_only: false
  03_requirements:
    command: "pip install -r requirements.txt"
    leader_only: false
  04_create_log_dir_change_permissions:
    command: "mkdir -p /var/log/app && chmod g+s /var/log/app"
  05a_create_log_file_change_permissions:
    command: "touch /var/log/app/django.log && chmod 666 /var/log/app/django.log"
  05b_create_log_file_change_permissions:
    command: "touch /var/log/app/django_error.log && chmod 666 /var/log/app/django_error.log"
  07_log_dir_change_owner:
    command: "chown -R root:webapp /var/log/app"
    
files:
  "/opt/python/run/venv/pip.conf":
    mode: "000755"
    owner: root
    user: root
    content: |
      [global]
      no-cache-dir=false

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "webcdi.settings"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:container:python:
    WSGIPath: "webcdi.wsgi:application"
    NumProcesses: 6
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
