@font-face {
    font-family: Karla;
    src: url(https://fonts.gstatic.com/s/karla/v5/suoMYBGv5sGCUIrF9mVTfXYhjbSpvc47ee6xR_80Hnw.woff2);
}
body {
    font-family: "Karla", "sans-serif";
    font-size: 20px;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 1.4em 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    /*-webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;*/
}

legend {
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px; 
    border-bottom:none;
    margin-bottom: 0;
}
