{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Activate your account' %}{% endblock %}

{% block content_title %}<h1>{% trans 'Activate your account' %}</h1>{% endblock %}

{% load crispy_forms_tags %}

{% block contents %}
{{ block.super }}
<p>{% trans 'Please fill the password to complete account activation' %}</p>
<form action="" method="post" class="form-activate">{% csrf_token %}
    {{ form|crispy }}
    <div>
    <button type="submit" class="btn btn-primary">{% trans "Activate" %}</button>
    </div>
</form>
{% endblock %}