<!doctype html>
<html lang="en"> <head> <meta charset="utf-8">

    {% load staticfiles %}

    <title>WebCDI Interface</title>

    <meta name="description" content="English Words and Sentences CDI form">
    <meta name="author" content="Ashwin Paranjape">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
    <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'supplementtut/base.css' %}" />
    <script src="{% static 'cdi_forms/moment.js' %}"></script>

</head>
<body>
	<div class="container bs-docs-container" style="padding-top: 100px; padding-bottom: 60px;">

		<div class="flex-row">
			{% block content_title %}{% endblock %}
        </div>
        <div class="flex-row">
		    {% block contents %}
		    {% endblock %}
		</div>

	</div>
</body>
</html>

