{% extends "researcher_UI/base.html" %}
{% load i18n %}



{% block title %}{{ title }}{% endblock %}
{% block content_title %}<div class="container bs-docs-container"><h1>{{ title }}</h1></div>{% endblock %}
{% block main %}
<div style="margin-top:100px; margin-bottom:10rem;">
    <div class="container">
        <!--Start login card-->
        <div class="login-card col-12" align="center" >
            <h1>Pssword Reset Initiated</h1>
            <p>{% trans "We emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly." %}</p>

            <p>{% trans "If you do not receive an email, please make sure you entered the address you registered with and check your spam folder." %}</p>
        
        </div>
    </div>  
</div>

{% endblock %}
