{% extends "admin/admin_base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs container bs-docs-container" style="padding-top: 60px;">
<a href="{% url 'researcher_ui:console' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<div class="container bs-docs-container"><h1>{{ title }}</h1></div>{% endblock %}
{% block content %}
<div class="container bs-docs-container">
<p>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}
