{% extends "admin/admin_base_site.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs container bs-docs-container" style="padding-top: 60px;">
<a href="{% url 'console' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<div class="container bs-docs-container"><h1>{{ title }}</h1></div>{% endblock %}

{% block content %}
    <div id="content-main" class="container bs-docs-container">


        <form method="post" action="" class="form-change-pass">{% csrf_token %}
            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

            {{ form|crispy }}
            <div>
            <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>

            <script type="text/javascript">$("#id_old_password").focus();</script>
            </div>
        </form>
    </div>

{% endblock %}
