{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content_title %}<h1>{% trans 'Registration' %}</h1>{% endblock %}

{% load crispy_forms_tags %}

{% block contents %}
{{ block.super }}

<p>{% trans 'Please fill the following fields to create your registration' %}</p>
<form method="post" action="" class="form-register uniForm">{% csrf_token %}
<!--     {{ form|crispy }}
    {{ supplement_form|crispy }} -->

	{% for field in form %}
	    <div class="row form-group">
	    	<div class="control-label col-lg-3">{{ field.label_tag }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</div>

	    	<div class="controls col-lg-9">{{ field }}</div>
		</div>
	{% endfor %}

	{% for field in supplement_form %}
	    <div class="row form-group">
	    	<div class="control-label col-lg-3">{{ field.label_tag }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</div>

	    	<div class="controls col-lg-9">{{ field }}</div>
		</div>
	{% endfor %}
    <div>
    <button type="submit" id="id_register" class="btn btn-primary">{% trans 'Register' %}</button>
    </div>
</form>

{% endblock %}
