
{% extends 'registration/base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Registration' %}{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'console' %}">{{ site_header|default:_('WebCDI Registration') }}</a></h1>
{% endblock %}

{% block contents %}
{{ block.super }}
<div style="background: #29A9E6; height:100%; margin-bottom:10rem;">

<div style="background: #29A9E6; height:100%;">
  <div class="container" style="padding-bottom:2rem;">
    <div class="row">
      <!--Start Logo-->
      <a class="col-2" align="center" href="/" style="height:100px; width:150px;">
        <img width="100%" src="{% static 'researcher_UI/images/logo.png' %}">
      </a>
      <!--End Logo-->
      <!--Start login card-->
      <nav role="navigation" class="primary-navigation d-flex justify-content-end col-10">
        <ul>
          <li><a href="/">Home</a>
    
          <li><a href="#" onclick="window.open('https://docs.google.com/document/d/1naFm2U-77YcOwFD7jcQIes2HhNz98qQM2wm1J1cmwck/pub')" onclick="window.open('https://docs.google.com/document/d/1naFm2U-77YcOwFD7jcQIes2HhNz98qQM2wm1J1cmwck/pub')">Help</a></li>
          <li><a href="#">{{ request.user.username }} &dtrif;</a>
            <ul class="dropdown">
                <li><a href="/accounts/logout/" style="color:#4d90fe">Logout</a></li>
            </ul>
          </li>
        </ul>
    </nav>
    </div>

  <form class="modal-dialog modal-lg login-card" role="document" action="/endalk/add_paired_study/" method="post">
    <div class="">
      <div class="modal-header">
        <button type="button" class="btn-primary" data-dismiss="modal" aria-label="Close"
        style="border-radius:50%;" onclick="history.back()"
        ><span aria-hidden="true">&larr;</span></button>
        <h4 class="modal-title" >Add new study group</h4>
      </div>
      <div class="modal-body">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
      <div class="alert alert-danger error-message" role="alert" style="display:none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <div style='display:inline' id='error-message-text'></div>
      </div>
      <div class="modal-footer">
        <input name="submit" value="Submit" class="btn btn-primary col-3" type="submit">
      </div>
  </form>


</div>
</div>
</div>
{% endblock %}