{% load querystring from django_tables2 %}
{% load django_tables2 %}
{% load trans blocktrans from i18n %}
{% load bootstrap4 %}

{% if table.page %}
    <div class="table-container">
{% endif %}
 
{% block table %}
<script>
    function edit_function(id){
        console.log(id)
        $('#'+id).modal()
    }
    function Convert_to_localtime(utcDate){
        let newStr = utcDate.replace('p.m.','PM');
        newStr = newStr.replace('a.m.','AM');
        const date = new Date(newStr); 
        var local_date = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(),  date.getHours(), date.getMinutes(), date.getSeconds()));
        var local_date_formatted= local_date.toLocaleString([], { hour12: true});
        return local_date_formatted
    }
    
</script>
<style>
    .login-card {
        padding: 40px;
        margin: 0 auto 10px;
        border-radius: 10px;
        overflow: scroll;
      
      }
      .login-card h1{
        color: white;
      }
      .input-row{
        margin-top: 15px;
      }
      
      .login-card input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
        border-radius: 10px;
      
      }
      .login-card input[type=button] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
        border-radius: 10px;
        background: red;
      
      }
      
      .login-card input[type=text], input[type=password] {
        height: 44px;
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-radius: 10px;
      
      }
      .login-card input[type=text], input[type=email] {
        height: 44px;
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-radius: 10px;
      
      }
      .login-card select {
        height: 44px;
        font-size: 12px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-radius: 10px;
      
      }
      .login-card input[type=text]:hover, input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        border-radius: 10px;
      
      }
  
</style>
<table class="table">



    {% block table.thead %}
    {% if table.show_header %}
        <thead {{ table.attrs.thead.as_html }}>
            <tr>
            {% for column in table.columns %}
                <th {{ column.attrs.th.as_html }} style="text-align:center;">
                    {% if column.orderable %}
                        <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                    {% else %}
                        {{ column.header }}
                    {% endif %}
                </th>
            {% endfor %}
            <th> Action </th>
            </tr>
        </thead>
    {% endif %}
    {% endblock table.thead %}
    
    {% for row in table.paginated_rows %}      
        <tr>
        <!--Modal-->
        <div class="modal"  id="{{row.record.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form class="login-card"  action="{% url 'researcher_ui:edit_study_new' pk=row.record.pk %}"  method="post">
                {% csrf_token %}
 
                 <div class="modal-dialog" role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                     </div>
  
                     <div class="modal-body">
                     <div>
                         <div class="form-group">
                         <label for="recipient-name" class="col-form-label">Subject Id</label>
                         <input type="text" class="form-control" name="subject_id" value="{{row.record.subject_id}}">
                         </div>
                         <div class="form-group">
                             <label for="recipient-name" class="col-form-label">Local Lab Id</label>
                             <input type="text" class="form-control" name="local_lab_id" value="{{row.record.local_lab_id}}">
                         </div>
                         <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Participant opted out of broader sharing</label>
                            <select name="opt_out" class="form-group">
                                <option value="None" {% if row.record.opt_out == None %} selected{% endif %}>Unknown</option>
                                <option value="True" {% if row.record.opt_out == "Yes" %} selected {% endif %}> Yes</option>
                                <option value="False" {% if row.record.opt_out == "No" %} selected {% endif %}>  No</option>
                            </select>
                        </div>
                     </div>
                     </div>
                     <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-primary">Save</button>
                     </div>
 
                 </div>
                 </div>
             </form>
         </div>          
         <!--Modal-->
        {% for column, cell in row.items %}
                    {% if column|stringformat:"s" in '"Last modified","Expiration date","Creation date"' %}
                        <td>
                            <span id="converted_result{{forloop.parentloop.counter}}{{forloop.counter}}"></span>
                            <script>document.getElementById('converted_result{{forloop.parentloop.counter}}{{forloop.counter}}').innerText = Convert_to_localtime("{{cell}}")</script>
                            
                        </td>
                    {% else %}
                        <td>
                            {{cell}}
                        </td>
                    {% endif %}


        {% endfor %}

        <td>
                <button type="button" class="btn-primary" style="border-radius:50%;" 
                onclick="edit_function({{row.record.pk}})">
                <span class="fa fa-edit"></span>
            </button>
        </td>
        </tr>

    
    
        {% endfor %}
    </tbody>
</table>

{% endblock table %}

{% if table.page %}
    {% block pagination %}
        <div class = "col-md-12" style = "float:none; display:inline-block; vertical-align:middle;">
            <nav>{% bootstrap_pagination table.page url=request.get_full_path %}</nav>
            <a href="{% url 'console' current_study %}?view_all=all" id="view_all" class="btn btn-link" role="link">Show All</a>
        </div>
    {% endblock pagination %}

{% endif %}

{% if table.page %}
    </div>
{% endif %}
