<!DOCTYPE html>
<html style="background: #29A9E6;">
<head lang="en">

    <meta charset="UTF-8">
    {% load static %}
    <title>Web CDI</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
    @font-face {
        font-family: Karla;
        src: url(https://fonts.gstatic.com/s/karla/v5/suoMYBGv5sGCUIrF9mVTfXYhjbSpvc47ee6xR_80Hnw.woff2);
    }
    body {
        font-family: "Karla", "sans-serif";
    }
    </style>
</head>
<body>

<div style="background: #29A9E6;">
    <div class="container" style="margin-top: 50px;">
        <div class="row" align="center">
            <img width="400px" src="{% static 'researcher_UI/images/logo.png' %}">
        </div>
        <div class="row" align="center">
            <h1>MacArthur-Bates<br>Communicative Development Inventory<br>
            <small>Online administration</small></h1>
        </div>
        <br>
        <div class="row" align="center">
            <a class="btn btn-default" href="/interface" role="button">Researcher Login</a>
            <a class="btn btn-default" href="/admin" role="button">Admin Login</a>
        </div>
        <br><br>
        <div class="row" align="center">
            <p>WebCDI is a pilot project of the MacArthur-Bates Communicative Development Inventory Advisory Board.</p>
            <p>If you're a parent, please follow the link sent to you by a researcher to fill out an MB-CDI form. If you lost your link, please contact your researcher or the <a href="mailto:webcdi-contact@stanford.edu">Web-CDI team</a>.</p>
            <p>If you're a researcher interested in using WebCDI, please <a href="mailto:{{ CONTACT_EMAIL }}">contact us</a>.</p>
            <p>For more information about the MB-CDI, <a href="{{ MORE_INFO_LINK }}" target="_blank">click here</a>.</p>
        </div>
    </div>
</div>

</body>
</html>